@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*main colors */
/*background colors */
/* font-size */
/* Font Family */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"), url("/fonts/Gilroy-Light/Gilroy-Light.woff2") format("woff2"), url("/fonts/Gilroy-Light/Gilroy-Light.woff") format("woff"), url("/fonts/Gilroy-Light/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("/fonts/Gilroy-Regular/Gilroy-Regular.woff2") format("woff2"), url("/fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"), url("/fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("/fonts/Gilroy-Medium/Gilroy-Medium.woff2") format("woff2"), url("/fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff"), url("/fonts/Gilroy-Medium/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("/fonts/Gilroy-Semibold/Gilroy-Semibold.woff2") format("woff2"), url("/fonts/Gilroy-Semibold/Gilroy-Semibold.woff") format("woff"), url("/fonts/Gilroy-Semibold/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("/fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("woff2"), url("/fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"), url("/fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* HEADER */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 67px;
}
@media only screen and (max-width: 1269px) {
  .menu {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
    margin-bottom: 23px;
  }
}
.menu__items:nth-child(1) {
  grid-column: 1/span 3;
}
.menu__items:nth-child(2) {
  grid-column: 5/span 3;
}
.menu__items:nth-child(3) {
  grid-column: 9/span 2;
}
.menu__link {
  text-decoration: none;
  color: #242424;
  margin-right: 28px;
  transition: border-bottom 1s 0.25s linear;
}
.menu__link:hover {
  border-bottom: 1px solid #242424;
}

/* SOCIAL BUTTONS */
.social-btns__item {
  text-decoration: none;
}

.menu__items a {
  margin-right: 28px;
}

.menu__items a:last-child {
  margin-right: 0;
}

.social-btns__item svg:hover {
  fill: #000;
}

.more-info__inner:last-child {
  margin-right: 0;
}

/* MAIN */
/* SAFE LIFE */
.save-life {
  width: 659px;
}
@media only screen and (max-width: 1269px) {
  .save-life {
    width: 461px;
  }
}
.save-life__title {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 87px;
  color: #242424;
}
@media only screen and (max-width: 1269px) {
  .save-life__title {
    font-size: 64px;
  }
}
.save-life__text--color {
  color: #6B6B6B;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 18.45px;
}
@media only screen and (max-width: 1269px) {
  .save-life__text--color {
    margin-bottom: 8px;
    font-size: 1.4rem;
  }
}
.save-life__text--size {
  line-height: 140%;
  margin-bottom: 45px;
  font-weight: 600;
}
@media only screen and (max-width: 1269px) {
  .save-life__text--size {
    margin-bottom: 45px;
    font-size: 1.4rem;
  }
}
.save-life__text--pos {
  width: 415px;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 44px;
  color: #C78100;
}
@media only screen and (max-width: 1269px) {
  .save-life__text--pos {
    width: 300px;
    font-size: 2rem;
    line-height: 24px;
  }
}
.save-life__btn {
  padding: 5px 33px 5px 32px;
  text-decoration: none;
}

.btn {
  background: #FBC832;
  border-radius: 58px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #242424;
  border: none;
  cursor: pointer;
  padding: 8px 39px 8px 39px;
  text-decoration: none;
}

.button {
  padding-bottom: 272px;
}
@media (max-width: 1269px) {
  .button {
    padding-bottom: 110px;
  }
}

.hover__text {
  position: absolute;
  width: 599px;
  height: 192px;
  left: 268px;
  top: 475px;
  opacity: 0.2;
  font-size: 12rem;
  color: #fff;
}

.hover__text--bottom {
  position: absolute;
  width: 599px;
  height: 192px;
  left: 268px;
  top: 610px;
  opacity: 0.2;
  font-size: 9.2rem;
  color: #fff;
}

.hover__text--right {
  position: absolute;
  width: 599px;
  height: 192px;
  left: 545px;
  top: 695px;
  opacity: 0.2;
  font-size: 9.2rem;
  color: #fff;
}

/*  Info about charity */
.info {
  min-height: 650px;
  position: relative;
  background-color: #FFFFFF;
}
@media only screen and (max-width: 1269px) {
  .info {
    min-height: 568px;
  }
}
.info__row {
  display: flex;
  justify-content: flex-start;
  padding-top: 64px;
}
@media (max-width: 1269px) {
  .info__row {
    padding-top: 0;
  }
}
.info__img {
  flex: 0 1 50%;
  position: relative;
}
@media only screen and (max-width: 1269px) {
  .info__img {
    min-height: 568px;
  }
}
.info__text-block {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 466px;
  padding: 0 0 0 12px;
}
@media (max-width: 1269px) {
  .info__text-block {
    max-width: 330px;
    align-items: start;
  }
}
.info__title {
  margin-top: 62px;
  margin-bottom: 26px;
  text-align: center;
  color: #C78100;
  font-weight: 600;
}
@media only screen and (max-width: 1269px) {
  .info__title {
    margin-bottom: 10px;
  }
}
.info__text {
  margin-bottom: 20px;
}
@media (max-width: 1269px) {
  .info__text {
    margin-bottom: 10px;
  }
}

.info__img {
  position: relative;
}

.info__img::before {
  content: "";
  position: absolute;
  background: url(/img/dog&cat.png) top left no-repeat;
  width: 630px;
  height: 541px;
  top: -10px;
  right: 52px;
  z-index: 2;
}
@media (max-width: 1269px) {
  .info__img::before {
    background: url(/img/dog&cat-1024.png) top left no-repeat;
    top: 36px;
    right: -118px;
  }
}

.info__img::after {
  content: "";
  position: absolute;
  background: url(/img/rect.png) left center no-repeat;
  width: 630px;
  height: 541px;
  top: -20px;
  left: -109px;
  z-index: 1;
}
@media (max-width: 1269px) {
  .info__img::after {
    background: none;
  }
}

/* HELP SECTION */
@media (max-width: 1269px) {
  .home__container {
    max-width: 620;
    width: 100%;
    margin: 0 auto;
  }
}

.help__title-main {
  text-align: center;
  margin-bottom: 45px;
  padding-top: 76px;
  font-weight: 300;
}
@media (max-width: 1269px) {
  .help__title-main {
    padding-top: 62px;
    font-size: 28px;
    margin-bottom: 35px;
  }
}

.help__gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}
@media (max-width: 1269px) {
  .help__gallery {
    margin-bottom: 5px;
  }
}

.item-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-help:last-child {
  margin: 0;
}

.img-circle {
  border: 1px solid #FFC41E;
  box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
  border-radius: 50%;
  width: 150px;
  padding: 31px 31px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  transition: background-color 0.75s linear;
}
@media (max-width: 1269px) {
  .img-circle {
    width: 110px;
    height: 110px;
    padding: 20px 20px;
    margin-bottom: 20px;
  }
}

.img-circle:hover {
  background-color: #fff;
}

.img-circle:active {
  background-color: #F8ECCB;
}

.item-help__text {
  margin-bottom: 71px;
  width: 166px;
  text-align: center;
}
@media (max-width: 1269px) {
  .item-help__text {
    width: 140px;
    font-size: 14px;
    line-height: 20px;
  }
}

.help__info-img {
  margin-bottom: 61px;
}
@media (max-width: 1269px) {
  .help__info-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}

.help__home {
  display: flex;
  justify-content: center;
  margin-bottom: -6px;
}

.help__info {
  max-width: 389px;
  margin-right: 11px;
  margin-left: 86px;
}
@media (max-width: 1269px) {
  .help__info {
    max-width: 275px;
  }
}

.help__title {
  margin-bottom: 16px;
}
@media (max-width: 1269px) {
  .help__title {
    font-size: 24px;
    line-height: 24px;
    margin-top: 63px;
  }
}

@media (max-width: 1269px) {
  .help__title:nth-child(2) {
    margin-bottom: 20px;
  }
}

.help__text {
  margin-bottom: 72px;
}

/* ANIMAL */
@media (max-width: 1269px) {
  .animals__container {
    max-width: 1024px !important;
    width: 100%;
  }
}

.animals__info {
  text-align: center;
  margin-bottom: 18px;
}

.animals__info a:hover {
  text-decoration: none;
}

.animals__images {
  list-style-type: none;
}

.animal-gallery {
  display: flex;
}

.animal-gallery__item,
.swiper-slide {
  padding: 16px 16px 8px 17px;
}

.swiper-slide {
  transition: 0.5s;
  opacity: 0.5;
}

.swiper-slide-active {
  transition: 0.5s;
  opacity: 1;
}

.card {
  width: 368px !important;
  background-color: #FFFFFF;
  box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
  border-radius: 5px;
}

.card__title {
  text-align: center;
  font-size: 2.2rem;
  line-height: 20px;
  font-weight: 500;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 10px;
}

.card__subtitle {
  font-size: 1.4rem;
  line-height: 20px;
  color: #6B6B6B;
  font-weight: 500;
  padding: 8px 0 6px 0;
}

.card__text {
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 2px;
  min-height: 64px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  background-image: url(/img/bi_arrow-left-circle.svg);
  margin-right: auto;
  margin-top: 5px;
}

.swiper-button-next {
  background-image: url(/img/bi_arrow-right-circle.svg);
  margin-left: auto;
  margin-top: 5px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
}

.slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 18px auto;
}

.animal-btns {
  text-align: center;
}

.animal-btn-home {
  margin-bottom: 20px;
}

.animals__gallery {
  display: flex;
  flex-flow: row wrap;
}

.animals__img-wrapper {
  margin-right: 20px;
}

.animals__img-wrapper:nth-child(3n) {
  margin-right: 0;
}

.animals__item {
  min-height: 695px;
  width: 368px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  border: 1px solid #D6D6D6;
  background-color: #FFFFFF;
  margin-bottom: 44px;
}

.animals__inner {
  padding: 16px 16px 25px 17px;
  display: flex;
  flex-direction: column;
}

.animals__btns {
  text-align: center;
  margin-top: auto;
}

.animals__title {
  text-align: center;
  margin-bottom: 21px;
}

.animals__item:hover {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

.animal__img-name {
  font-family: "Gilroy";
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-top: 8px;
}

.animal__img-name::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #d6d6d6;
  width: 100%;
  margin-top: 10px;
}

.animal__img-disc {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #6B6B6B;
  text-align: left;
  margin: 8px 0 6px;
}

.animal__img-text {
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.animal-img {
  display: inline-block;
  /* Строчно-блочный элемент */
  overflow: hidden;
  /* Скрываем всё за контуром */
}

.animal-img img {
  transition: 1s;
  /* Время эффекта */
  display: block;
  /* Убираем небольшой отступ снизу */
}

.animal-img img:hover {
  transform: scale(1.1);
  /* Увеличиваем масштаб */
}

.animals__btns--indent {
  margin-bottom: 18px;
}

.btn--style {
  background: #f6f6f6;
  border: 2px solid #FBC832;
}

.animlas__more-info {
  display: flex;
  justify-content: center;
  margin: 54px 0 65px -4px;
}

.more-info__text {
  width: 583px;
  font-size: 18px;
  line-height: 24px;
}
@media (max-width: 1269px) {
  .more-info__text {
    font-size: 16px;
    line-height: 22px;
  }
}

.more-info__social {
  display: flex;
  margin-left: 38px;
}

.more-info__inner {
  display: block;
  width: 49px;
  height: 49px;
  border: 2px solid #FFC41E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 32px;
}

.more-info__inner:last-child {
  margin-right: 0;
}

/* BUTTUNS */
.btn:hover {
  background: #242424;
  color: #FBC832;
}

.btn--style:hover {
  background: #f6f6f6;
  color: #fbc832;
  border: 2px solid #242424;
}

/* CONTENT NAV_IMG  */
.img-nav {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.home__container,
.financial-help__container,
.helph__container,
.auto-help__container,
.volunteering__container {
  position: relative;
}

.home__container::before,
.home__container::after,
.financial-help__container::before,
.financial-help__container::after,
.helph__container::before,
.helph__container::after,
.auto-help__container::before,
.auto-help__container::after,
.volunteering__container::before,
.volunteering__container::after {
  content: "";
  height: 1px;
  display: block;
  background-color: #EEBF3A;
  width: 50%;
  position: absolute;
}

.home__container::before {
  top: 69px;
  left: -110px;
}

.home__container::after {
  top: 69px;
  right: -110px;
}

.financial-help__container::before {
  top: 48px;
  left: -105px;
}

.financial-help__container::after {
  top: 48px;
  right: -105px;
}

.helph__container::before {
  top: 47px;
  left: -110px;
}

.helph__container::after {
  top: 47px;
  right: -110px;
}

.auto-help__container::before,
.volunteering__container::before {
  top: 55px;
  left: -110px;
}

.auto-help__container::after,
.volunteering__container::after {
  top: 55px;
  right: -110px;
}

/* FINANCIAL HELP */
.financial-help {
  padding-top: 44px;
  min-height: 715px;
  background-color: #FFFFFF;
}
@media (max-width: 1269px) {
  .financial-help {
    min-height: 683px;
  }
}

.finance__info-img {
  margin-bottom: 50px;
}
@media (max-width: 1269px) {
  .finance__info-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 26px;
  }
}

.financial-help__outer {
  max-width: 758px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1269px) {
  .financial-help__outer {
    max-width: 530px;
  }
}

.financial-help__title {
  margin-bottom: 27px;
}
@media (max-width: 1269px) {
  .financial-help__title {
    margin-bottom: 10px;
  }
}

.financial-help__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #6B6B6B;
}
@media (max-width: 1269px) {
  .financial-help__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.financial-donate {
  display: flex;
  justify-content: center;
}

.financial-donate__bill {
  max-width: 389px;
  margin-right: 97px;
}
@media (max-width: 1269px) {
  .financial-donate__bill {
    max-width: 275px;
  }
}

.financial-donate__donation {
  max-width: 389px;
}
@media (max-width: 1269px) {
  .financial-donate__donation {
    max-width: 275px;
  }
}

.bill-data {
  height: 164px;
  text-align: left;
  margin-bottom: 24px;
}
@media (max-width: 1269px) {
  .bill-data {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 3px;
  }
}

.bill-data p {
  margin-bottom: 6px;
}

.bill-data p:last-child {
  margin-bottom: 0;
}

.finance-title {
  font-family: Gilroy;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin-top: 43px;
  margin-bottom: 24px;
}
@media (max-width: 1269px) {
  .finance-title {
    font-size: 24px;
    margin-top: 30px;
  }
}

.donat-info {
  height: 218px;
  max-width: 389px;
}
@media (max-width: 1269px) {
  .donat-info {
    font-size: 14px;
    line-height: 20px;
    max-width: 274px;
  }
}

.donta-info__subtitle {
  margin-bottom: 6px;
}
@media (max-width: 1269px) {
  .donta-info__subtitle {
    margin-bottom: 0px;
  }
}

.donat-info__list li {
  margin-bottom: 6px;
}
@media (max-width: 1269px) {
  .donat-info__list li {
    margin-bottom: 2px;
    padding: 0;
  }
}

.donat-info__list li:last-child {
  margin-bottom: 25px;
}
@media (max-width: 1269px) {
  .donat-info__list li:last-child {
    margin-bottom: 0px;
  }
}

/* HELPH */
.helph {
  margin-top: 49px;
}

.helph__info-img {
  margin-bottom: 48px;
}
@media (max-width: 1269px) {
  .helph__info-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}

.help-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helph-container-top {
  max-width: 660px;
  margin-bottom: 44px;
}
@media (max-width: 1269px) {
  .helph-container-top {
    max-width: 481px;
    margin-top: 44px;
    margin-bottom: -4px;
  }
}

.helph__title {
  font-size: 28px;
  line-height: 86%;
  font-weight: 600;
  margin-bottom: 24px;
}
@media (max-width: 1269px) {
  .helph__title {
    font-size: 24px;
    margin-bottom: 29px;
  }
}

.helph__text {
  font-size: 16px;
  line-height: 22.4px;
}

.helph-list {
  margin-top: 7px;
}

.helph-list li {
  margin-bottom: 6px;
}
@media (max-width: 1269px) {
  .helph-list li {
    margin-bottom: 5px;
  }
}

.helph__text--color {
  margin-bottom: 5px;
}

.helph-container-bot {
  max-width: 678px;
  margin-bottom: 16px;
}
@media (max-width: 1269px) {
  .helph-container-bot {
    max-width: 481px;
    margin-top: 51px;
  }
}

.helph__info-link {
  margin-bottom: 78px;
}
@media (max-width: 1269px) {
  .helph__info-link {
    margin-bottom: 60px;
  }
}

.helph__info-link a {
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #AD7F00;
}

/* AUTO HELP */
.auto-help-container {
  display: grid;
  justify-content: center;
  margin-bottom: 82px;
}

.auto-help__info-img {
  margin-bottom: 37px;
}
@media (max-width: 1269px) {
  .auto-help__info-img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
}

.auto-help__info {
  max-width: 680px;
}
@media (max-width: 1269px) {
  .auto-help__info {
    max-width: 481px;
    margin-top: 29px;
  }
}

.auto__title {
  font-size: 28px;
  line-height: 86%;
  font-weight: 600;
  margin-bottom: 24px;
}
@media (max-width: 1269px) {
  .auto__title {
    font-size: 24px;
    margin-bottom: 26px;
  }
}

.auto__text {
  font-size: 16px;
  line-height: 22.4px;
  margin-bottom: 24px;
}
@media (max-width: 1269px) {
  .auto__text {
    margin-bottom: 39px;
  }
}

/* VOLUNTEERING */
.volunteering {
  position: relative;
  margin-bottom: 162px;
}
@media (max-width: 1269px) {
  .volunteering {
    margin-bottom: -55px;
  }
}

.volunteering__info-img {
  margin-bottom: 104px;
}
@media (max-width: 1269px) {
  .volunteering__info-img {
    width: 55px;
    height: 100px;
    margin: 0 auto;
  }
}

.volunteering__pos {
  margin-bottom: 100px;
}

.volun-inner {
  display: flex;
  justify-content: flex-start;
}

.volun-container {
  flex: 0 1 50%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.volun-image {
  position: relative;
  margin-right: auto;
  flex: 0 1 50%;
}

.volun-image::before {
  content: "";
  position: absolute;
  background: url(/img/volunt1.png) left center no-repeat;
  width: 620px;
  height: 541px;
  top: -124px;
  left: -110px;
  z-index: 2;
}
@media (max-width: 1269px) {
  .volun-image::before {
    background: url(/img/volunt-1024.png) left center no-repeat;
    top: -50px;
    left: -103px;
  }
}

.volun__info {
  max-width: 466px;
  margin-bottom: 20px;
}
@media (max-width: 1269px) {
  .volun__info {
    max-width: 323px;
    margin-top: 26px;
  }
}

.volun__title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 25px;
}
@media (max-width: 1269px) {
  .volun__title {
    font-size: 24px;
    line-height: 24px;
  }
}

.volun__text {
  margin-bottom: 6px;
}

/* NEWS */
.news-info {
  background-color: #FFFFFF;
}

.news-info__position {
  margin-bottom: 40px;
}
@media (max-width: 1269px) {
  .news-info__position {
    margin-bottom: 20px;
  }
}

.news__title {
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  padding-top: 60px;
}
@media (max-width: 1269px) {
  .news__title {
    font-size: 24px;
    line-height: 24px;
    padding-top: 40px;
  }
}

.news-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-content__text {
  max-width: 603px;
  margin-left: 35px;
}
@media (max-width: 1269px) {
  .news-content__text {
    max-width: 433px;
  }
}

.news-content:last-child {
  margin-top: 22px;
  padding-bottom: 47px;
}
@media (max-width: 1269px) {
  .news-content:last-child {
    padding-bottom: 37px;
  }
}

/* ABOUT */
.about {
  padding-top: 56px;
  margin-bottom: 46px;
}
@media (max-width: 1269px) {
  .about {
    padding-top: 49px;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin: 0 auto;
}
@media (max-width: 1269px) {
  .about-container {
    max-width: 481px;
  }
}

.about-us {
  margin-bottom: 24px;
}

.about-us__title {
  font-size: 2.8rem;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px;
}
@media (max-width: 1269px) {
  .about-us__title {
    font-size: 24px;
    line-height: 24px;
  }
}

.about-us__text {
  font-size: 1.8rem;
  line-height: 24px;
  font-weight: 500;
}
@media (max-width: 1269px) {
  .about-us__text {
    font-size: 16px;
  }
}

.about-contacts {
  margin-bottom: 37px;
}
@media (max-width: 1269px) {
  .about-contacts {
    margin-bottom: 42px;
  }
}

.about-contacts__title {
  font-size: 2.2rem;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 25px;
}

.about-contacts__subtitle {
  margin-bottom: 10px;
}
@media (max-width: 1269px) {
  .about-contacts__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
}

.about-social__title {
  margin-bottom: 16px;
}
@media (max-width: 1269px) {
  .about-social__title {
    margin-bottom: 20px;
  }
}

.about-contacts__menu {
  list-style-type: none;
}

.about-contacts__text {
  margin-bottom: 5px;
}
@media (max-width: 1269px) {
  .about-contacts__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
}

/* THANKS FOR HELP */
.thanks {
  max-width: 100%;
  min-height: 741px;
  background-image: url(/img/footer_img.jpg);
  background-size: cover;
}
@media (max-width: 1269px) {
  .thanks {
    min-height: 555px;
  }
}

/* FOOTER */
.footer-inner {
  display: grid;
  grid-template-columns: 8fr 2fr;
  justify-items: center;
  margin-top: 40px;
}

.menu-footer {
  margin-bottom: 24px;
}

.menu-footer__link {
  margin-right: 40px;
  color: #474747;
  font-size: 1.4rem;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid #474747;
  transition: all 1s linear;
}

.menu-footer__link:hover {
  border-bottom: none;
  opacity: 0.7;
}

.menu-footer__link:last-child {
  margin-right: 0;
}

@media (max-width: 1269px) {
  .menu-footer__left {
    display: flex;
    justify-content: space-between;
  }
}

.menu-footer__link2 {
  font-size: 1.4rem;
  color: #242424;
  font-weight: normal;
}

.menu-footer__link2:first-child {
  margin-right: 42px;
}

.copyright {
  font-size: 12px;
  color: #B3B3B3;
  text-align: center;
  margin-bottom: 16px;
  grid-column: 1/3;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-size: 16px;
  line-height: 22px;
}

form {
  margin: 0 auto;
  width: 525px;
  background-color: #fff;
  padding: 30px 40px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
}

.inform {
  font-size: 16px;
  color: #6B6B6B;
  line-height: 22px;
  width: 350px;
  margin-top: 10px;
  margin-bottom: 32px;
}

label {
  font-size: 14px;
  line-height: 20px;
  color: #474747;
  opacity: 0.7;
}

input, textarea {
  font-size: 16px;
  line-height: 22px;
  color: #6B6B6B;
  opacity: 0.7;
  width: 100%;
  padding: 9px 0 9px 10px;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 2px;
}

.necessary {
  font-size: 14px;
  line-height: 20px;
  color: #B3B3B3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 1.6rem;
  color: #242424;
  font-weight: 400;
  line-height: 22.4px;
  background-color: #f6f6f6;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1144px;
  margin: 0 auto;
}
@media only screen and (max-width: 1269px) {
  .container {
    max-width: 804px;
  }
}
@media only screen and (max-width: 1023px) {
  .container {
    max-width: 548px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 580px;
  }
}
@media only screen and (max-width: 639px) {
  .container {
    max-width: 300px;
  }
}

.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
}
@media only screen and (max-width: 1269px) {
  .title {
    font-size: 24px;
  }
}

.title-light {
  font-weight: 300;
}

img {
  display: inline-block;
  max-width: 100%;
}

.link {
  font-weight: 500;
  font-size: 2rem;
  line-height: 40px;
  color: #AD7F00;
}

.header {
  width: 100%;
  position: relative;
}
.header__container {
  position: relative;
}

.header__container::after {
  content: "";
  background: url(/img/dog-1.jpg) right top no-repeat;
  position: absolute;
  width: 718px;
  height: 713px;
  top: 0;
  right: 0;
  z-index: -1;
}
@media only screen and (max-width: 1269px) {
  .header__container::after {
    width: 804px;
    background-image: url(/img/dog-1024.jpg);
    height: 564px;
  }
}

.header__container::before {
  content: "";
  background-image: url(/img/cat-1.png);
  min-width: 483px;
  min-height: 469px;
  display: block;
  position: absolute;
  top: 522%;
  right: 14.5%;
  z-index: 100;
}
@media only screen and (max-width: 1269px) {
  .header__container::before {
    background-image: url(/img/cat-1024.png);
    background-repeat: no-repeat;
    top: 409%;
    right: -4%;
  }
}

/* INNNER HTML */
.dropbtn {
  background-color: #FFFFFF;
  color: #242424;
  padding: 8px 30px 8px 16px;
  font-size: 14px;
  border: 1px solid #D6D6D6;
  cursor: pointer;
}

.dropbtn::after {
  content: "";
  display: block;
  background: url(/img/Chevron_Down.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-size: 14px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dropdown__link {
  color: #6B6B6B;
  text-decoration: none;
}

/* BACK SECTION */
.back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 41px;
}

.back__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #6B6B6B;
  position: relative;
  margin-left: 30px;
  text-decoration: none;
}

.back__link::before {
  content: "";
  position: absolute;
  background: url(/img/back.svg) top left no-repeat;
  width: 30px;
  height: 30px;
  top: -4px;
  left: -32px;
}

.back__title {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
}

/* INNER GALLERY */
.inner-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 555px;
  gap: 42px 21px;
}

.card {
  padding: 16px 16px 8px 17px;
}

/* FILTER */
.inner-gallery {
  overflow: hidden;
}

.filterDiv {
  display: none;
  /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.tablinks {
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.tablinks:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */