@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*main colors */
/*background colors */
/* font-size */
/* Font Family */
/* Gilroy Regular */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("/fonts/Gilroy-Regular/Gilroy-Regular.woff2") format("woff2"), url("/fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"), url("/fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Gilroy Bold */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("/fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("woff2"), url("/fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"), url("/fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Bold"), url("/fonts/Gilrpy-Light/Gilroy-Light.woff") format("woff"), url("/fonts/Gilrpy-Light/Gilroy-Light.ttf") format("truetype");
}
/* HEADER */
.menu {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 110px;
  align-items: center;
}
.menu__items:nth-child(1) {
  grid-column: 1/span 3;
}
.menu__items:nth-child(2) {
  grid-column: 5/span 3;
}
.menu__items:nth-child(3) {
  grid-column: 9/span 2;
}
.menu__link {
  text-decoration: none;
  color: #242424;
  margin-right: 30px;
  transition: all 1s ease;
}
.menu__link:hover {
  border-bottom: 1px solid #242424;
}

/* SOCIAL BUTTONS */
.social-btns {
  display: flex;
}
.social-btns__item {
  display: block;
  width: 49px;
  height: 49px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 28px;
  text-decoration: none;
}

.more-info__inner:last-child {
  margin-right: 0;
}

/* MAIN */
/* SAFE LIFE */
.save-life {
  width: 659px;
}
.save-life__title {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 87px;
  color: #242424;
}
.save-life__text--color {
  color: #6B6B6B;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 18.45px;
}
.save-life__text--size {
  line-height: 140%;
  margin-bottom: 43px;
}
.save-life__text--pos {
  width: 415px;
  font-size: 2.4rem;
  line-height: 29px;
  margin-bottom: 44px;
  color: #C78100;
}
.save-life__btn {
  padding: 5px 33px 5px 32px;
  text-decoration: none;
}

.btn {
  background: #FBC832;
  border-radius: 58px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #242424;
  border: none;
  cursor: pointer;
  padding: 5px 33px 5px 32px;
  text-decoration: none;
}

.button {
  margin-bottom: 272px;
}

.hover__text {
  position: absolute;
  width: 599px;
  height: 192px;
  left: 268px;
  top: 475px;
  opacity: 0.2;
  font-size: 12rem;
  color: #fff;
}

.hover__text--bottom {
  position: absolute;
  width: 599px;
  height: 192px;
  left: 268px;
  top: 610px;
  opacity: 0.2;
  font-size: 9.2rem;
  color: #fff;
}

.hover__text--right {
  position: absolute;
  width: 599px;
  height: 192px;
  left: 545px;
  top: 695px;
  opacity: 0.2;
  font-size: 9.2rem;
  color: #fff;
}

.info {
  height: 650px;
  position: relative;
  background-color: #FFFFFF;
  z-index: 1;
}
.info__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__img + .info__text-block {
  margin-left: 73px;
}
.info__text-block {
  width: 100%;
  margin-top: 128px;
  max-width: 466px;
}
.info__title {
  margin-bottom: 28px;
  text-align: center;
  color: #C78100;
}
.info__text {
  margin-bottom: 20px;
}

/* HELP SECTION */
.help__title-main {
  text-align: center;
  margin-bottom: 47px;
  padding-top: 80px;
  font-weight: 300;
}

.help__gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-help:last-child {
  margin: 0;
}

.item-help__img::after {
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #FFC41E;
  display: block;
  top: -30px;
  left: 10px;
  position: absolute;
}

.item-help__img {
  margin-bottom: 24px;
}

.img-circle {
  border: 2px solid #FFC41E;
  border-radius: 50%;
  width: 150px;
  padding: 30px 30px;
  height: 150px;
}

.img-circle:hover {
  background-color: #fff;
}

.item-help__text {
  margin-bottom: 71px;
  width: 166px;
  text-align: center;
}

.help__info-img {
  margin-bottom: 68px;
}

.help__home {
  display: flex;
  justify-content: center;
}

.help__info {
  width: 389px;
  margin-left: 97px;
}

.help__title {
  margin-bottom: 20px;
}

.help__text {
  margin-bottom: 72px;
}

/* ANIMAL */
.animals__gallery {
  display: flex;
  flex-flow: row wrap;
}

.animals__img-wrapper {
  margin-right: 20px;
}

.animals__img-wrapper:nth-child(3n) {
  margin-right: 0;
}

.animals__btns {
  height: 139px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animals__title {
  text-align: center;
  margin-bottom: 32px;
}

.animals__item {
  height: 555px;
  width: 368px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  border: 1px solid #D6D6D6;
  background-color: #FFFFFF;
}

.animals__btns:nth-child(2) {
  margin-bottom: 40px;
}

.animals__item:hover {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

.animals__inner {
  padding: 16px 16px 16px 17px;
}

.animal__img-name {
  font-family: "Gilroy";
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-top: 8px;
}

.animal__img-name::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #d6d6d6;
  width: 100%;
  margin-top: 10px;
}

.animal__img-disc {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #6B6B6B;
  text-align: left;
  margin: 8px 0 6px;
}

.animal__img-text {
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.animal-img {
  display: inline-block;
  /* Строчно-блочный элемент */
  overflow: hidden;
  /* Скрываем всё за контуром */
}

.animal-img img {
  transition: 1s;
  /* Время эффекта */
  display: block;
  /* Убираем небольшой отступ снизу */
}

.animal-img img:hover {
  transform: scale(1.1);
  /* Увеличиваем масштаб */
}

.animals__btns--indent {
  margin-bottom: 17px;
}

.btn--style {
  background: #E5E5E5;
  border: 2px solid #FBC832;
}

.animals__info a {
  display: block;
  height: 40px;
  width: 204px;
  margin: 0 auto;
  color: #AD7F00;
}

.animals__info a:hover {
  text-decoration: none;
}

.animlas__more-info {
  display: flex;
  justify-content: center;
  margin: 65px 0 76px;
}

.more-info__text {
  width: 583px;
  font-size: 18px;
  line-height: 24px;
}

.more-info__social {
  display: flex;
  margin-left: 38px;
  margin-bottom: 78px;
}

.more-info__inner {
  display: block;
  width: 49px;
  height: 49px;
  border: 2px solid #FFC41E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 32px;
}

.more-info__inner:last-child {
  margin-right: 0;
}

/* BUTTUNS */
.btn:hover {
  background: #242424;
  color: #FBC832;
}

.btn--style:hover {
  background: #E5E5E5;
  color: #fbc832;
  border: 2px solid #242424;
}

/* CONTENT NAV_IMG  */
.img-nav {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.img-nav::after,
.img-nav::before {
  content: "";
  position: relative;
  height: 2px;
  vertical-align: middle;
  width: 50%;
  display: inline-block;
  background-color: #EEBF3A;
}

.img-nav::before {
  top: -70px;
  margin-left: -50%;
}

.img-nav::after {
  top: -70px;
  margin-right: -50%;
}

/* FINANCIAL HELP */
.helph__pos {
  padding-top: 49px;
}

.financial-help {
  padding-top: 46px;
  height: 681px;
  background-color: #FFFFFF;
}

.finance__info-img {
  margin-bottom: 58px;
}

.financial-help__outer {
  max-width: 758px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.financial-help__title {
  margin-bottom: 24px;
}

.financial-help__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #474747;
}

.financial-donate {
  display: flex;
  justify-content: center;
}

.financial-donate__bill {
  width: 389px;
  margin-right: 97px;
}

.financial-donate__donation {
  width: 389px;
}

.bill-data {
  height: 164px;
  text-align: left;
  margin-bottom: 24px;
}

.bill-data p {
  margin-bottom: 10px;
}

.bill-data p:last-child {
  margin-bottom: 0;
}

.finance-title {
  font-family: Gilroy;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 24px;
}

.donat-info {
  height: 218px;
  width: 389px;
}

.donat-info__list li {
  margin-bottom: 10px;
}

.donat-info__list li:last-child {
  margin-bottom: 0;
}

/* HELPH */
.helph {
  margin-top: 49px;
}

.helph__info-img {
  margin-bottom: 53px;
}

.help-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helph-container-top {
  width: 660px;
  margin-bottom: 40px;
}

.helph__title {
  font-size: 28px;
  line-height: 86%;
  font-weight: 600;
  margin-bottom: 24px;
}

.helph__text {
  font-size: 16px;
  line-height: 22.4px;
}

.helph-container-bot {
  width: 678px;
  margin-bottom: 16px;
}

.helph__info-link {
  margin-bottom: 78px;
}

.helph__info-link a {
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #AD7F00;
}

/* AUTO HELP */
.auto-help-container {
  display: grid;
  justify-content: center;
  margin-bottom: 82px;
}

.auto-help__info-img {
  margin-bottom: 45px;
}

.auto-help__info {
  width: 680px;
}

.auto__title {
  font-size: 28px;
  line-height: 86%;
  font-weight: 600;
  margin-bottom: 24px;
}

.auto__text {
  font-size: 16px;
  line-height: 22.4px;
  margin-bottom: 24px;
}

/* VOLUNTEERING */
.volunteering__pos {
  margin-bottom: 50px;
}

.volun-inner {
  display: flex;
  justify-content: center;
}

.volun-image {
  height: auto;
  margin-right: 77px;
}

.volun__info {
  width: 466px;
}

.volun-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* NEWS */
.news-header {
  margin-bottom: 53px;
}

.news-header__position {
  margin-bottom: 40px;
}

.news__title {
  text-align: center;
}

.news-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-content__text {
  width: 603px;
  margin-left: 35px;
}

.news-content:last-child {
  margin-top: 24px;
}

/* ABOUT */
.about {
  padding-top: 56px;
  margin-bottom: 54px;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  margin: 0 auto;
}

.about-us {
  margin-bottom: 24px;
}

.about-us__title {
  text-align: center;
  margin-bottom: 24px;
}

.about-contacts,
.about-contacts__title,
.about-us {
  margin-bottom: 40px;
}

.about-contacts__title {
  margin-bottom: 24px;
}

.about-social__title {
  margin-bottom: 16px;
}

/* THANKS FOR HELP */
.thanks {
  max-width: 100%;
  min-height: 741px;
  background-image: url(/img/footer_img.jpg);
  background-size: cover;
}

/* FOOTER */
.menu-footer {
  display: flex;
  margin: 40px 0px 24px;
}

.menu-footer__link {
  margin-right: 40px;
  color: #474747;
  font-size: 1.4rem;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid #474747;
  transition: all 1s linear;
}

.menu-footer__link:hover {
  border-bottom: none;
  opacity: 0.7;
}

.menu-footer__link:last-child {
  margin-right: 0;
}

.menu-footer__left {
  margin-right: auto;
}

.menu-footer__link2 {
  font-size: 1.4rem;
  color: #242424;
  font-weight: normal;
}

.menu-footer__link2:first-child {
  margin-right: 42px;
}

.copyright {
  font-size: 12px;
  color: #B3B3B3;
  text-align: center;
  margin-bottom: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 1.6rem;
  color: #242424;
  font-weight: 600;
  line-height: 22.4px;
  background-color: #E5E5E5;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  line-height: 120%;
}

.title-light {
  font-weight: normal;
}

img {
  display: inline-block;
  max-width: 100%;
}

.header {
  width: 100%;
  height: 834px;
  position: relative;
}

.header__container {
  max-width: 1150px;
  height: 713px;
  background-image: url(/img/dog-1.jpg);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  position: relative;
}

.header__container::before {
  content: "";
  background-image: url(/img/cat-1.png);
  width: 483px;
  height: 469px;
  display: block;
  position: absolute;
  top: 65.5%;
  right: 14.5%;
  z-index: 100;
}