* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* <span style="font-size: 27px"><i class="fa fa-vk fa-2x"></i></span>  */

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('./font/Gilroy-Regular/Gilroy-Regular.woff2') format('woff2'),
        url('./font/Gilroy-Regular/Gilroy-Regular.woff') format('woff'),
        url('./font/Gilroy-Regular/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('./font/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2'),
        url('./font/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
        url('./font/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
    font-family: 'Gilroy';
    font-size: 16px;
    color: #000;
    font-weight: 600;
    line-height: 19px;
    background-color: #E5E5E5;
}
 
.container {
    max-width: 1154px;
    margin: 0 auto;
}

.title {
    font-size: 28px;
    line-height: 120%;
}

.text {
    line-height: 140%;
    font-weight: normal;
}

/* colors */
.brown {
    color: #C78100;
}

/* colors */


/* Header */

.header {
    min-height: 834px;
    background-image: 
        url(./i/dog\ 1.png);
    background-position: 
        800px 0;
    background-repeat: no-repeat;
    position: relative;
}

.hover {
    background-image:url(./i/cat\ 1.png);
    position: absolute;
    width: 483px;
    height: 469px;
    left: 865px;
    top: 470px;
}

.hover__text {
    position: absolute;
    width: 599px;
    height: 192px;
    left: 268px;
    top: 475px;     
    opacity: 0.2;
    font-size: 12rem;
    color: #fff;
}

.hover__text_bottom {
    position: absolute;
    width: 599px;
    height: 192px;
    left: 268px;
    top: 610px;     
    opacity: 0.2;
    font-size: 9.2rem;
    color: #fff;
}

.hover__text_right {
    position: absolute;
    width: 599px;
    height: 192px;
    left: 545px;
    top: 695px;     
    opacity: 0.2;
    font-size: 9.2rem;
    color: #fff;
}

.header__container {
    /* height: 834px;
    background-color: #E5E5E5;
    background: url(./i/dog\ 1.png) no-repeat top right; */
    /* background-image: 
        url(./i/dog\ 1.png),
        url(./i/cat\ 1.png);
    background-position: 
        top right,
        bottom right;
    background-repeat: no-repeat; */
}

.menu__list {
    list-style-type: none;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.menu__item {
    margin: 54px 32px 91px 0; 
}

.menu__item:nth-child(2) {
    margin-right: 194px;
}

.menu__item:nth-child(4) {
    margin-right: 339px;
}

.menu__link {
    text-decoration: none;
    color: #000;
}

.icon {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
}

/* Safe life */

.save-life {
    background: #E5E5E5;
}

.save-life__header {
    width: 659px;
}

.save-life__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    color: #242424;
}

.save-life__text_color {
    color: #6B6B6B;
    font-weight: 300;
    margin-bottom: 10px;
}

.save-life__text_size {
    line-height: 140%;
    margin-bottom: 43px;
}

.save-life__text_pos {
    width: 415px;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 44px;
} 

.fa-vk {
    position: absolute;
    top: 12px;
    left: 6px;
}

.fa-instagram {
    position: absolute;
    top: 10px;
    left: 10px;
}

.btn {
    background: #FBC832;
    border-radius: 58px;
    padding: 5px 33px 5px 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #000000;
    border: none;
    cursor: pointer;
}

.save-life__btn {
    margin-bottom: 262px;
    text-decoration: none;
}

/* info about charity */

.info {
    margin: 74px 0 74px 0;
}

.info__row {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.info__img + .info__text-block {
    margin-left: 73px;
}

.info__text-block {
    width: 466px;
}

.info__title {
    margin-bottom: 28px;
    text-align: center;
}

.info__text {
    margin-bottom: 20px;
}

/* help */

.help {
}

.help__title {
    text-align: center;
    margin-bottom: 47px;
    padding-top: 80px;

}

.help__gallery {
    display: flex;
    justify-content: space-between;
}

.item-help {
    margin-right: 95px; 
}

.item-help:last-child {
    margin: 0;
}

.item-help__img {
    margin-bottom: 24px;
}

.item-help__text {
    text-align: center;
    margin-bottom: 71px;
}