* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  

/*main colors */

$color-main: #242424; // Основной цвет
$color-secondary: #474747; // дополнительный цвет

$black: #000000;
$gray: #6B6B6B; 
$gray-light: #b3b3b3;
$orange: #C78100;
$gold: #ad7f00;

/*background colors */

$main-bg: #f6f6f6;
$white-bg: #FFFFFF;
$yellow-bg: #FBC832;

/* font-size */

$font-size: 1.6rem;
$font-size--h1: 7.2rem;
$font-size--h3: 2.8rem;
$font-size--h4: 2.2rem;
$font-size--btns: 2.0rem;
$font-size--small: 1.4rem;
$font-size--large: 1.8rem;


/* Font Family */
$font-family: 'Gilroy', Arial, sans-serif;
// $font-light: 'Gilroy Light', Arial, sans-serif;
// $font-medium: 'Gilroy-Medium', Arial, sans-serif;
// $font-simibold: 'Gilroy-Semibold', Arial, sans-serif;
// $font-bold: 'Gilroy-Bold', Arial, sans-serif;





@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('/fonts/Gilroy-Light/Gilroy-Light.woff2') format('woff2'),
        url('/fonts/Gilroy-Light/Gilroy-Light.woff') format('woff'),
        url('/fonts/Gilroy-Light/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('/fonts/Gilroy-Regular/Gilroy-Regular.woff2') format('woff2'),
        url('/fonts/Gilroy-Regular/Gilroy-Regular.woff') format('woff'),
        url('/fonts/Gilroy-Regular/Gilroy-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('/fonts/Gilroy-Medium/Gilroy-Medium.woff2') format('woff2'),
        url('/fonts/Gilroy-Medium/Gilroy-Medium.woff') format('woff'),
        url('/fonts/Gilroy-Medium/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('/fonts/Gilroy-Semibold/Gilroy-Semibold.woff2') format('woff2'),
        url('/fonts/Gilroy-Semibold/Gilroy-Semibold.woff') format('woff'),
        url('/fonts/Gilroy-Semibold/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('/fonts/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2'),
        url('/fonts/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
        url('/fonts/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



@mixin btn-style {
    background: #FBC832;
    border-radius: 58px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: $color-main;
    border: none;
    cursor: pointer;
    // padding: 5px 33px 5px 32px;
    padding: 8px 39px 8px 39px;
    text-decoration: none;
}

