/* HEADER */
.header__container {
    // display: flex;
    // align-items: center;
}


.menu {
    display: flex;
    padding-top: 36px;
    font-family: $font-family;
    font-weight: 600;
    margin-bottom: 67px;
    grid-column: 1 / 9;
    list-style-type: none;

   

    @media only screen and (max-width: 1269px) {
        display: flex;
        // justify-content: space-between;
        padding-top: 37px;
        margin-bottom: 23px;
    }

    @media only screen and (max-width: 1023px) {
        display: none;
        position: fixed;
        background-color: #fff;
        top: 90px;
        right: 0;
        left: 0;
        height: 300px;
        z-index: 200;
    

        &:before {
            content: '';
            position: absolute;
            top: 300px;
            right: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0 , 0.5);
            z-index: -1;
        }
    }

    @media only screen and (max-width: 767px) {
        display: none;
        
    }   
  
    &__item {

        @media only screen and (max-width: 1023px) {
            border-bottom: 1px solid $yellow-bg;
            padding-bottom: 24px;
            width: 548px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__item:nth-child(2) {
        margin-right: 155px;

        @media only screen and (max-width: 1269px) {
            margin-right: 50px;
        }

        @media only screen and (max-width: 1023px) {
            margin-right: 223px;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-main;
        margin-right: 28px;
        transition: border-bottom 1s 0.25s linear;
    }

    &__link:hover {
        border-bottom: 1px solid $color-main;

        @media only screen and (max-width: 1023px) {
            border-bottom: none;
        }
    }
}

/* SOCIAL BUTTONS */

.icon--vk {
    width: 49px;
    height: 49px;
    display: inline-block;
    background: linear-gradient(150.26deg, #ffe28f 6.75%, #ecbd37 91.17%);
    box-shadow: 3px 3px 13px #c18f00;
    border-radius: 100%;
    top: 25px;
    right: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='30' height='18' viewBox='0 0 30 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.3122 1.21896C29.5218 0.515712 29.3122 0 28.3211 0H25.0379C24.2025 0 23.8207 0.446144 23.6111 0.936146C23.6111 0.936146 21.9418 5.04823 19.5764 7.7145C18.8128 8.49034 18.464 8.73534 18.0478 8.73534C17.8397 8.73534 17.5373 8.49034 17.5373 7.78709V1.21896C17.5373 0.375063 17.2963 0 16.6001 0H11.441C10.92 0 10.6056 0.390187 10.6056 0.762225C10.6056 1.56075 11.7883 1.74525 11.9096 3.99563V8.8775C11.9096 9.94673 11.7195 10.1418 11.3003 10.1418C10.1879 10.1418 7.48112 6.01462 5.87471 1.29004C5.56181 0.372039 5.24592 0.00151296 4.40753 0.00151296H1.12584C0.18714 0.00151296 0 0.447656 0 0.937658C0 1.81785 1.11236 6.17342 5.18154 11.934C7.89433 15.8676 11.7135 18 15.1928 18C17.2783 18 17.5358 17.5266 17.5358 16.71V13.7367C17.5358 12.79 17.7349 12.5994 18.3951 12.5994C18.8802 12.5994 19.7156 12.8474 21.6634 14.7424C23.8881 16.9897 24.2564 17.9985 25.5065 17.9985H28.7882C29.7254 17.9985 30.194 17.5251 29.9245 16.5905C29.6295 15.6604 28.5666 14.3068 27.1563 12.7053C26.3898 11.7918 25.2445 10.8088 24.8956 10.3173C24.4091 9.68358 24.5498 9.4038 24.8956 8.8412C24.8971 8.84272 28.896 3.15325 29.3122 1.21896Z' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");

    @media only screen and (max-width: 1023px) {
        width: 40px;
        height: 40px;
    }

    @media only screen and (max-width: 767px) {
        width: 32px;
        height: 32px;
        right: 100px;
    }

    @media only screen and (max-width: 639px) {
        width: 32px;
        height: 32px;
        right: 210px;
    }
}

.icon--insta {
    width: 49px;
    height: 49px;
    display: inline-block;
    background: linear-gradient(150.26deg, #ffe28f 6.75%, #ecbd37 91.17%);
    box-shadow: 3px 3px 13px #c18f00;
    border-radius: 100%;
    top: 25px;
    right: 100px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M20.996 15.9979C18.2417 15.9979 15.9939 18.2456 15.9939 21C15.9939 23.7544 18.2417 26.0021 20.996 26.0021C23.7503 26.0021 25.998 23.7544 25.998 21C25.998 18.2456 23.7503 15.9979 20.996 15.9979ZM35.9983 21C35.9983 18.9286 36.0171 16.876 35.9008 14.8083C35.7844 12.4067 35.2366 10.2753 33.4804 8.51907C31.7205 6.75913 29.5929 6.21501 27.1913 6.09868C25.1199 5.98235 23.0673 6.00112 20.9997 6.00112C18.9284 6.00112 16.8758 5.98235 14.8082 6.09868C12.4066 6.21501 10.2752 6.76288 8.51902 8.51907C6.75911 10.279 6.21501 12.4067 6.09868 14.8083C5.98235 16.8797 6.00112 18.9324 6.00112 21C6.00112 23.0676 5.98235 25.124 6.09868 27.1917C6.21501 29.5933 6.76287 31.7247 8.51902 33.4809C10.2789 35.2409 12.4066 35.785 14.8082 35.9013C16.8795 36.0176 18.9321 35.9989 20.9997 35.9989C23.0711 35.9989 25.1237 36.0176 27.1913 35.9013C29.5929 35.785 31.7243 35.2371 33.4804 33.4809C35.2403 31.721 35.7844 29.5933 35.9008 27.1917C36.0208 25.124 35.9983 23.0714 35.9983 21ZM20.996 28.6964C16.7369 28.6964 13.2997 25.2591 13.2997 21C13.2997 16.7409 16.7369 13.3035 20.996 13.3035C25.255 13.3035 28.6923 16.7409 28.6923 21C28.6923 25.2591 25.255 28.6964 20.996 28.6964ZM29.0075 14.7858C28.0131 14.7858 27.2101 13.9828 27.2101 12.9883C27.2101 11.9939 28.0131 11.1909 29.0075 11.1909C30.0019 11.1909 30.8049 11.9939 30.8049 12.9883C30.8052 13.2245 30.7589 13.4583 30.6687 13.6765C30.5785 13.8948 30.4461 14.093 30.2791 14.26C30.1122 14.427 29.9139 14.5594 29.6957 14.6496C29.4775 14.7398 29.2436 14.7861 29.0075 14.7858Z' fill='%23F6F6F6'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='42' height='42' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.821128 0 0 0 0 0.606722 0 0 0 0 0 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    
    @media only screen and (max-width: 1023px) {
        width: 40px;
        height: 40px;
    }

    @media only screen and (max-width: 767px) {
        width: 32px;
        height: 32px;
        right: 50px;
    }

    @media only screen and (max-width: 639px) {
        width: 32px;
        height: 32px;
        right: 160px;
    }
}

.icon--vk::before,
.icon--insta::before {
    content: "";
    z-index: -1;
    left: -7px;
    top: -7px;
    bottom: -7px;
    right: -7px;
    background: red;

    border-radius: 100%;
    position: absolute;
    background: linear-gradient(144.1deg, #ffe193 12.45%, #ffc93f 89.31%);
    box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #ffdb7e,
        inset 13px 22px 8px #f1c74f;
}

.icon--vk:hover {
    background: url("data:image/svg+xml,%0A%3Csvg width='36' height='24' viewBox='0 0 36 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M32.3122 3.21896C32.5218 2.51571 32.3122 2 31.3211 2H28.0379C27.2025 2 26.8207 2.44614 26.6111 2.93615C26.6111 2.93615 24.9418 7.04823 22.5764 9.7145C21.8128 10.4903 21.464 10.7353 21.0478 10.7353C20.8397 10.7353 20.5373 10.4903 20.5373 9.78709V3.21896C20.5373 2.37506 20.2963 2 19.6001 2H14.441C13.92 2 13.6056 2.39019 13.6056 2.76223C13.6056 3.56075 14.7883 3.74525 14.9096 5.99563V10.8775C14.9096 11.9467 14.7195 12.1418 14.3003 12.1418C13.1879 12.1418 10.4811 8.01462 8.87471 3.29004C8.56181 2.37204 8.24592 2.00151 7.40753 2.00151H4.12584C3.18714 2.00151 3 2.44766 3 2.93766C3 3.81785 4.11236 8.17342 8.18154 13.934C10.8943 17.8676 14.7135 20 18.1928 20C20.2783 20 20.5358 19.5266 20.5358 18.71V15.7367C20.5358 14.79 20.7349 14.5994 21.3951 14.5994C21.8802 14.5994 22.7156 14.8474 24.6634 16.7424C26.8881 18.9897 27.2564 19.9985 28.5065 19.9985H31.7882C32.7254 19.9985 33.194 19.5251 32.9245 18.5905C32.6295 17.6604 31.5666 16.3068 30.1563 14.7053C29.3898 13.7918 28.2445 12.8088 27.8956 12.3173C27.4091 11.6836 27.5498 11.4038 27.8956 10.8412C27.8971 10.8427 31.896 5.15325 32.3122 3.21896Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='36' height='24' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.562795 0 0 0 0 0.364827 0 0 0 0 0 0 0 0 0.49 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A")
            no-repeat center center,
        linear-gradient(
            150.26deg,
            #ffeaad 6.75%,
            #fce6a7 45.73%,
            #ffc726 91.17%
        );
    box-shadow: 3px 3px 13px #c18f00;
}

.icon--insta:hover {
    background: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M20.996 15.9979C18.2417 15.9979 15.9939 18.2456 15.9939 21C15.9939 23.7544 18.2417 26.0021 20.996 26.0021C23.7503 26.0021 25.998 23.7544 25.998 21C25.998 18.2456 23.7503 15.9979 20.996 15.9979ZM35.9983 21C35.9983 18.9286 36.0171 16.876 35.9008 14.8083C35.7844 12.4067 35.2366 10.2753 33.4804 8.51907C31.7205 6.75913 29.5929 6.21501 27.1913 6.09868C25.1199 5.98235 23.0673 6.00112 20.9997 6.00112C18.9284 6.00112 16.8758 5.98235 14.8082 6.09868C12.4066 6.21501 10.2752 6.76288 8.51902 8.51907C6.75911 10.279 6.21501 12.4067 6.09868 14.8083C5.98235 16.8797 6.00112 18.9324 6.00112 21C6.00112 23.0676 5.98235 25.124 6.09868 27.1917C6.21501 29.5933 6.76287 31.7247 8.51902 33.4809C10.2789 35.2409 12.4066 35.785 14.8082 35.9013C16.8795 36.0176 18.9321 35.9989 20.9997 35.9989C23.0711 35.9989 25.1237 36.0176 27.1913 35.9013C29.5929 35.785 31.7243 35.2371 33.4804 33.4809C35.2403 31.721 35.7844 29.5933 35.9008 27.1917C36.0208 25.124 35.9983 23.0714 35.9983 21ZM20.996 28.6964C16.7369 28.6964 13.2997 25.2591 13.2997 21C13.2997 16.7409 16.7369 13.3035 20.996 13.3035C25.255 13.3035 28.6923 16.7409 28.6923 21C28.6923 25.2591 25.255 28.6964 20.996 28.6964ZM29.0075 14.7858C28.0131 14.7858 27.2101 13.9828 27.2101 12.9883C27.2101 11.9939 28.0131 11.1909 29.0075 11.1909C30.0019 11.1909 30.8049 11.9939 30.8049 12.9883C30.8052 13.2245 30.7589 13.4583 30.6687 13.6765C30.5785 13.8948 30.4461 14.093 30.2791 14.26C30.1122 14.427 29.9139 14.5594 29.6957 14.6496C29.4775 14.7398 29.2436 14.7861 29.0075 14.7858Z' fill='%23F6F6F6'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='42' height='42' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.821128 0 0 0 0 0.606722 0 0 0 0 0 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E")
            no-repeat center center,
        linear-gradient(
            150.26deg,
            #ffeaad 6.75%,
            #fce6a7 45.73%,
            #ffc726 91.17%
        );
    box-shadow: 3px 3px 13px #c18f00;
}


.icon--vk:hover::before,
.icon--insta:hover::before {
    background: linear-gradient(144.1deg, #ffe193 12.45%, #ffc93f 89.31%);
    box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #ffdb7e,
        inset 13px 22px 8px #f1c74f;
}
.icon--vk:active {
    background: url("data:image/svg+xml,%0A%3Csvg width='40' height='28' viewBox='0 0 40 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M34.3122 6.21896C34.5218 5.51571 34.3122 5 33.3211 5H30.0379C29.2025 5 28.8207 5.44614 28.6111 5.93615C28.6111 5.93615 26.9418 10.0482 24.5764 12.7145C23.8128 13.4903 23.464 13.7353 23.0478 13.7353C22.8397 13.7353 22.5373 13.4903 22.5373 12.7871V6.21896C22.5373 5.37506 22.2963 5 21.6001 5H16.441C15.92 5 15.6056 5.39019 15.6056 5.76223C15.6056 6.56075 16.7883 6.74525 16.9096 8.99563V13.8775C16.9096 14.9467 16.7195 15.1418 16.3003 15.1418C15.1879 15.1418 12.4811 11.0146 10.8747 6.29004C10.5618 5.37204 10.2459 5.00151 9.40753 5.00151H6.12584C5.18714 5.00151 5 5.44766 5 5.93766C5 6.81785 6.11236 11.1734 10.1815 16.934C12.8943 20.8676 16.7135 23 20.1928 23C22.2783 23 22.5358 22.5266 22.5358 21.71V18.7367C22.5358 17.79 22.7349 17.5994 23.3951 17.5994C23.8802 17.5994 24.7156 17.8474 26.6634 19.7424C28.8881 21.9897 29.2564 22.9985 30.5065 22.9985H33.7882C34.7254 22.9985 35.194 22.5251 34.9245 21.5905C34.6295 20.6604 33.5666 19.3068 32.1563 17.7053C31.3898 16.7918 30.2445 15.8088 29.8956 15.3173C29.4091 14.6836 29.5498 14.4038 29.8956 13.8412C29.8971 13.8427 33.896 8.15325 34.3122 6.21896Z' fill='%23F2F2F2'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='40' height='28' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.821128 0 0 0 0 0.606722 0 0 0 0 0 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A")
            center center no-repeat,
        linear-gradient(
            150.26deg,
            #ffda71 6.75%,
            #ffcd40 43.24%,
            #fbc11b 91.17%
        );
    box-shadow: 2px 2px 6px #c18f00, inset 3px 3px 10px rgba(199, 129, 0, 0.59);
}

.icon--insta:active {
    background: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M20.996 15.9979C18.2417 15.9979 15.9939 18.2456 15.9939 21C15.9939 23.7544 18.2417 26.0021 20.996 26.0021C23.7503 26.0021 25.998 23.7544 25.998 21C25.998 18.2456 23.7503 15.9979 20.996 15.9979ZM35.9983 21C35.9983 18.9286 36.0171 16.876 35.9008 14.8083C35.7844 12.4067 35.2366 10.2753 33.4804 8.51907C31.7205 6.75913 29.5929 6.21501 27.1913 6.09868C25.1199 5.98235 23.0673 6.00112 20.9997 6.00112C18.9284 6.00112 16.8758 5.98235 14.8082 6.09868C12.4066 6.21501 10.2752 6.76288 8.51902 8.51907C6.75911 10.279 6.21501 12.4067 6.09868 14.8083C5.98235 16.8797 6.00112 18.9324 6.00112 21C6.00112 23.0676 5.98235 25.124 6.09868 27.1917C6.21501 29.5933 6.76287 31.7247 8.51902 33.4809C10.2789 35.2409 12.4066 35.785 14.8082 35.9013C16.8795 36.0176 18.9321 35.9989 20.9997 35.9989C23.0711 35.9989 25.1237 36.0176 27.1913 35.9013C29.5929 35.785 31.7243 35.2371 33.4804 33.4809C35.2403 31.721 35.7844 29.5933 35.9008 27.1917C36.0208 25.124 35.9983 23.0714 35.9983 21ZM20.996 28.6964C16.7369 28.6964 13.2997 25.2591 13.2997 21C13.2997 16.7409 16.7369 13.3035 20.996 13.3035C25.255 13.3035 28.6923 16.7409 28.6923 21C28.6923 25.2591 25.255 28.6964 20.996 28.6964ZM29.0075 14.7858C28.0131 14.7858 27.2101 13.9828 27.2101 12.9883C27.2101 11.9939 28.0131 11.1909 29.0075 11.1909C30.0019 11.1909 30.8049 11.9939 30.8049 12.9883C30.8052 13.2245 30.7589 13.4583 30.6687 13.6765C30.5785 13.8948 30.4461 14.093 30.2791 14.26C30.1122 14.427 29.9139 14.5594 29.6957 14.6496C29.4775 14.7398 29.2436 14.7861 29.0075 14.7858Z' fill='%23F6F6F6'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='42' height='42' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.821128 0 0 0 0 0.606722 0 0 0 0 0 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E")
            center center no-repeat,
        linear-gradient(
            150.26deg,
            #ffda71 6.75%,
            #ffcd40 43.24%,
            #fbc11b 91.17%
        );
    box-shadow: 2px 2px 6px #c18f00, inset 3px 3px 10px rgba(199, 129, 0, 0.59);
}

.icon--vk:active::before,
.icon--insta:active::before {
    background: linear-gradient(144.1deg, #ffe193 12.45%, #ffc93f 89.31%);
    box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #ffdb7e,
        inset 13px 22px 8px #f1c74f;
}

.header__social {
    @media only screen and (max-width: 767px) {
        position: absolute;
        top: 0;
        right: -150px;
    }
}

.header__social a {
    @media only screen and (max-width: 767px) {
        margin-right: -10px;
    }
}



.menu-mobile {
    

    @media only screen and (max-width: 767px) {
        justify-self: center;
        display: block;
    }
}

.social-mobile {
    @media only screen and (max-width: 767px) {
        grid-column: 3 / 4;
        justify-self: end;
    }   
}

.social-btns__item {
    text-decoration: none;
}

.svg-social {

    @media only screen and (max-width: 767px) {
        width: 32px;
        height: 32px;
    }
}

.menu__items a {
    margin-right: 28px;
}

.menu__items a:last-child {
    margin-right: 0;
}

.social-btns__item svg:hover {
    fill: #000;
}

.more-info__inner:last-child {
    margin-right: 0;
}

/* MAIN */

/* SAFE LIFE */

.save-life {
    max-width: 659px;

    @media only screen and (max-width: 1269px) {
        max-width: 461px;
    }

    @media only screen and (max-width: 1023px) {
        max-width: 311px;
    }

    @media only screen and (max-width: 767px) {
        max-width: 282px;
    }


    &__title {
        font-weight: 700;
        font-size: $font-size--h1;
        line-height: 87px;
        color: #242424;

        @media only screen and (max-width: 1269px) {
            font-size: 64px;
        }

        @media only screen and (max-width: 1023px) {
            font-size: 42px;
            line-height: 51px;
        }

        @media only screen and (max-width: 767px) {
            font-size: 30px;
            line-height: 36px;
        }
    }

    &__text--color {
        color: $gray;
        font-weight: 300;
        margin-bottom: 10px;
        line-height: 18.45px;

        @media only screen and (max-width: 1269px) {
            margin-bottom: 8px;
            font-size: $font-size--small;
        }

        @media only screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 22px;
        }

        @media only screen and (max-width: 639px) {
            max-width: 211px;
        }
    }

    &__text--size {
        line-height: 20px;
        margin-bottom: 45px;
        font-weight: 600;

        @media only screen and (max-width: 1269px) {
            margin-bottom: 45px;
            font-size: $font-size--small;
        }

        @media only screen and (max-width: 767px) {
            padding-bottom: 127px;
            font-size: $font-size--small;
            line-height: 20px;
        }

        @media only screen and (max-width: 639px) {
            max-width: 158px;
            padding-bottom: 48px;
        }
    }

    &__text--pos {
        width: 415px;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 29px;
        margin-bottom: 44px;
        color: $orange;

        @media only screen and (max-width: 1269px) {
            width: 300px;
            font-size: 2rem;
            line-height: 24px;
        }

        @media only screen and (max-width: 767px) {
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            width: 381px;
            margin-bottom: 20px;
        }

        @media only screen and (max-width: 639px) {
            max-width: 300px;
        }
        
    } 

    &__btn {
        padding: 5px 33px 5px 32px;
        text-decoration: none;
    }
}

.btn {
    @include btn-style;  
}

.button {
    padding-bottom: 272px;
    @media (max-width: 1269px) {
        padding-bottom: 110px;
    }

    @media only screen and (max-width: 767px) {
        text-align: center;
        padding-bottom: 43px;
    }

    @media only screen and (max-width: 639px) {
        padding-bottom: 23px;
    }
    
}

.hover__text {
    position: absolute;
    width: 599px;
    height: 192px;
    left: 268px;
    top: 475px;     
    opacity: 0.2;
    font-size: 12rem;
    color: #fff;
}

.hover__text--bottom {
    position: absolute;
    width: 599px;
    height: 192px;
    left: 268px;
    top: 610px;     
    opacity: 0.2;
    font-size: 9.2rem;
    color: #fff;
}

.hover__text--right {
    position: absolute;
    width: 599px;
    height: 192px;
    left: 545px;
    top: 695px;     
    opacity: 0.2;
    font-size: 9.2rem;
    color: #fff;
}

/*  Info about charity */

.info {
    // margin: 74px 0 74px 0;
    min-height: 650px;
    position: relative;
    background-color: $white-bg;
    

    @media only screen and (max-width: 1269px) {
        min-height: 568px;
    }

    &__row {
        display: flex;
        justify-content: flex-start;
        padding-top: 64px;

        @media (max-width: 1269px) {
            padding-top: 0;
        }
    }
    &__img {   
        flex: 0 1 50%;
        position: relative;

        @media only screen and (max-width: 1269px) {
            min-height: 568px;
            
        }

        @media only screen and (max-width: 639px) {
            flex: 0 1 0;
        }
    }
    
    &__text-block {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
        max-width: 466px;
        padding: 0 0 0 12px;

        @media (max-width: 1269px) {
            max-width: 330px;
            align-items: start;
        }

        @media only screen and (max-width: 639px) {
           max-width: 300px;
           flex: 1 1 100%;
           padding: 0;
        }

    }
    &__title {
        margin-top: 62px;
        margin-bottom: 26px;
        text-align: center;
        color: $orange;
        font-weight: 600;

        @media only screen and (max-width: 1269px) {
            margin-bottom: 10px;
        }


        @media only screen and (max-width: 639px) {
            font-size: 16px;
            line-height: 19px;
            margin-top: 243px;
            margin-bottom: 17px;
        }
    }    
    &__text {
        margin-bottom: 20px;
        @media (max-width: 1269px) {
            margin-bottom: 10px;
        }


        @media only screen and (max-width: 639px) {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 17px;
        }
    }
    
}

.info__img {
    position: relative;
}

.info__img::before {
    content: '';
    position: absolute;
    background: url(../img/dog&cat.png) top left no-repeat;
    width: 630px;
    height: 541px;
    top: -10px;
    right: 52px;
    z-index: 2;

    @media (max-width: 1269px) {
        background: url(../img/dog&cat-1024.png) top left no-repeat;
        top: 36px;
        right: -118px;
    }

    @media only screen and (max-width: 639px) {
        background: url(../img/dog&cat-360.png) top left no-repeat;
        top: 16px;
        left: -31px;
        width: 251px;
        height: 202px;
    }

}   

.info__img::after {
    content: '';
    position: absolute;
    background: url(../img/rect.png) left center no-repeat;
    width: 630px;
    height: 541px;
    top: -20px;
    left: -109px;
    z-index: 1;

    @media (max-width: 1269px) {
        background: none;
    }

    @media only screen and (max-width: 639px) {
        width: 0;
        height: 0;
    }
}

/* HELP SECTION */

.home__container {
    @media (max-width: 1269px) {
        max-width: 620;
        width: 100%;
        margin: 0 auto;
    }
}

.help__title-main {
    text-align: center;
    margin-bottom: 45px;
    padding-top: 76px;
    font-weight: 300;

    @media (max-width: 1269px) {
        padding-top: 62px;
        font-size: 28px;
        margin-bottom: 35px;
    }

    @media only screen and (max-width: 639px) {
        font-size: 18px;
        line-height: 24px;
        padding-top: 34px;
        margin-bottom: 22px;
    }
}

.help__gallery {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;

    @media (max-width: 1269px) {
        margin-bottom: 5px;
    }

    @media (max-width: 639px) {
        margin-bottom: 16px;
    }
}

.item-help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item-help:last-child {
    margin: 0;

    @media (max-width: 639px) {
        margin: 0 auto; 
    }
}

.img-circle {
    border: 1px solid #FFC41E;  
    // border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
    border-radius: 50%;
    width: 150px;
    padding: 31px 31px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    transition: background-color 0.75s linear;

    @media (max-width: 1269px) {
        width: 110px;
        height: 110px;
        padding: 20px 20px;
        margin-bottom: 20px;
    }

    @media (max-width: 639px) {
        width: 80px;
        height: 80px;
        padding: 20px 16px;
        margin-bottom: 9px;
    }

}
.img-circle:hover {
    background-color: #fff;
}
.img-circle:active {
    background-color: #F8ECCB;
}

.item-help__text {
    margin-bottom: 71px;
    width: 166px;
    text-align: center;

    @media (max-width: 1269px) {
        width: 140px;
        font-size: 14px;
        line-height: 20px;
    }

    @media (max-width: 639px) {
       margin-bottom: 24px;
    }
}

.help__info-img {
    margin-bottom: 61px;
    @media (max-width: 1269px) {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    @media (max-width: 639px) {
        width: 50px;
        height: 50px;
    }
}

.help__home {
    display: flex;
    justify-content: center;
    margin-bottom: -6px;

    @media (max-width: 639px) {
        flex-direction: column;
    }
}

.help__info {
    max-width: 389px;
    margin-right: 11px;
    margin-left: 86px;

    @media (max-width: 1269px) {
        max-width: 275px;
    }

    @media (max-width: 639px) {
        max-width: 300px;
        margin: 0;
    }
}

.help__title {
    margin-bottom: 16px;

    @media (max-width: 1269px) {
        font-size: 24px;
        line-height: 24px;
        margin-top: 63px;
    }

    @media (max-width: 639px) {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-top: 24px;
        margin-bottom: -4px;
    }
}

.help__title:nth-child(2) {
    @media (max-width: 1269px) {
        margin-bottom: 20px;
    }
}

.help__text {
    margin-bottom: 72px;

    @media (max-width: 639px) {
        font-size: 14px;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 8px;
    }
}

/* ANIMAL */

.animals__container {
    @media (max-width: 1269px) {
        max-width: 1024px !important;
        width: 100%;
    }
}

.animals__info {
    text-align: center;
    margin-bottom: 18px;
}

.animals__info a:hover {
    text-decoration: none;
}


.animals__images {
    list-style-type: none;
}

.animal-gallery {
    display: flex;
    // justify-content: space-between;
}

.animal-gallery__item,
.swiper-slide {
    padding: 16px 16px 8px 17px;
    // margin-right: 10px;
    // width: 33.3%;
}

.swiper-slide {
    transition: 0.5s;
    opacity: 0.5;
}

.swiper-slide-active {
    // transform: scale(1.2);
    transition: 0.5s;
    opacity: 1;
}

.card {
    max-width: 368px;
    background-color: $white-bg;
    // background-color: $main-bg;
    box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
    border-radius: 5px;
    // margin-right: 21px;

}

.card__title {
    text-align: center;
    font-size: $font-size--h4;
    line-height: 20px;
    font-weight: 500;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
}

.card__subtitle {
    font-size: $font-size--small;
    line-height: 20px;
    color: $gray;
    font-weight: 500;
    padding: 8px 0 6px 0;
}

.card__text {
    font-size: $font-size--small;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 2px;
    min-height: 64px;
}

.card__link {
    margin-left: 45px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;

    @media only screen and (max-width: 639px) {
        display: none;
    }
}

.swiper-button-prev {
    background-image: url(../img/bi_arrow-left-circle.svg);
    margin-right: auto;
    margin-top: 5px;
}

.swiper-button-next {
    background-image: url(../img/bi_arrow-right-circle.svg);
    margin-left: auto;
    margin-top: 5px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 18px auto;

    @media (max-width: 639px) {
       width: 200px;
    }
}

.animal-btns {
    text-align: center;

    @media only screen and (max-width: 639px) {
        width: 300px;
    }
}

.animal-btn-home {
    margin-bottom: 20px;

    @media only screen and (max-width: 639px) {
        width: 300px;
    }
}

.animals__gallery {
    display: flex;  
    flex-flow: row wrap;
}

.animals__img-wrapper {
    margin-right: 20px;
}

.animals__img-wrapper:nth-child(3n) {
    margin-right: 0;
}

.animals__item {
    min-height: 695px;
    width: 368px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    border: 1px solid #D6D6D6;
    background-color: $white-bg;
    margin-bottom: 44px;
}

.animals__inner {
    padding: 16px 16px 25px 17px;
    display: flex;
    flex-direction: column;
}

.animals__btns {    
    text-align: center;
    margin-top: auto;
}

.animals__title {
    text-align: center;
    margin-bottom: 21px;

    @media only screen and (max-width: 639px) {
        font-size: 20px;
        line-height: 24px;
        margin-top: 15px;
    } 
}



.animals__btns:nth-child(2) {
    // margin-bottom: 40px;
}

.animals__item:hover {
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
}


.animal__img-name {
    font-family: 'Gilroy';
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-top: 8px;
    // border-bottom: 1px solid #D6D6D6;
}

.animal__img-name::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #d6d6d6;
    width: 100%;
    margin-top: 10px; 
}

.animal__img-disc {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $gray;
    text-align: left;
    margin: 8px 0 6px;
}

.animal__img-text {
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;   
}

.animal-img {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
}

.animal-img img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
}

.animal-img img:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

.animals__btns--indent {
    margin-bottom: 18px;
}

.btn--style {
    background: $main-bg;
    border: 2px solid #FBC832;
}


.animlas__more-info {
    display: flex;  
    justify-content: center;
    margin: 54px 0 65px -4px;

    @media only screen and (max-width: 639px) {
        flex-direction: column;
        text-align: center;
        margin-bottom: 16px;
    }
}

.more-info__text {
    width: 583px;
    font-size: 18px;
    line-height: 24px;
    @media (max-width: 1269px) {
        font-size: 16px;
        line-height: 22px;
    }

    @media only screen and (max-width: 639px) {
        font-size: 14px;
        line-height: 20px;
        width: 300px;
        margin: 0 auto;
        text-align: left;
    }
}

.more-info__social {
    display: flex;
    margin-left: 38px;
    // margin-bottom: 78px;

    @media only screen and (max-width: 639px) {
        margin: 6px auto;
    }
}


.more-info__inner {
    display: block;
    width: 49px;
    height: 49px;
    border: 2px solid #FFC41E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
}

.more-info__inner:last-child {
    margin-right: 0;
}


.vk {
    @media only screen and (max-width: 639px) {
        margin-right: 50px;
    }
}

/* BUTTUNS */

.btn:hover {
    background: $color-main;
    color: #FBC832;
}

.btn--style:hover {
    background: $main-bg;
    color: #fbc832;
    border: 2px solid $color-main;
}

/* CONTENT NAV_IMG  */

.img-nav {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.home__container,
.financial-help__container,
.helph__container,
.auto-help__container,
.volunteering__container {
    position: relative;
}

.home__container::before,
.home__container::after,
.financial-help__container::before,
.financial-help__container::after,
.helph__container::before,
.helph__container::after,
.auto-help__container::before,
.auto-help__container::after,
.volunteering__container::before,
.volunteering__container::after {
    content: '';
    height: 1px;
    display: block;
    background-color: #EEBF3A;
    width: 40%;
    position: absolute;
}

.home__container::before {
    top: 69px;
    left: -110px;

    @media (max-width: 639px) {
        top: 69px;
        left: -40px;
    }
}

.home__container::after {
    top: 69px;
    right: -110px;

    @media (max-width: 639px) {
        top: 69px;
        right: -40px;
    }
}

.financial-help__container::before {
    top: 48px;
    left: -105px;
}

.financial-help__container::after {
    top: 48px;
    right: -105px;
}

.helph__container::before {
    top: 47px;
    left: -110px;
}
    
.helph__container::after {
    top: 47px;
    right: -110px;
}

.auto-help__container::before,
.volunteering__container::before {
    top: 55px;
    left: -110px;
}

.auto-help__container::after,
.volunteering__container::after {
    top: 55px;
    right: -110px;
}

/* FINANCIAL HELP */

.financial-help {
    padding-top: 44px;
    min-height: 715px;
    background-color: $white-bg;

    @media (max-width: 1269px) {
        min-height: 683px;
    } 

    @media only screen and (max-width: 639px) {
        padding-top: 20px;
        padding-bottom: 80px;
    }
}

.finance__info-img {
    margin-bottom: 50px;

    @media (max-width: 1269px) {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 26px;
    }

    @media only screen and (max-width: 639px) {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
    }
}

.financial-help__outer {
    max-width: 758px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 1269px) {
        max-width: 530px;
    }

    @media only screen and (max-width: 639px) {
        flex-direction: column;
        max-width: 300px;
    }
}

.financial-help__title {
 margin-bottom: 27px;

 @media (max-width: 1269px) {
     margin-bottom: 10px;
 }

 @media only screen and (max-width: 639px) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
 } 
}

.financial-help__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $gray;

    @media (max-width: 1269px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.financial-donate {
    display: flex;
    justify-content: center;  
    
    @media only screen and (max-width: 639px) {
        flex-direction: column;
    }
}

.financial-donate__bill {
    max-width: 389px;
    margin-right: 97px;

    @media (max-width: 1269px) {
        max-width: 275px;
    }   

    @media only screen and (max-width: 639px) {
        max-width: 300px;
        margin-right: 0;
    }
}

.financial-donate__donation {
    max-width: 389px;

    @media (max-width: 1269px) {
        max-width: 275px;
    } 

    @media only screen and (max-width: 639px) {
        max-width: 300px;
 
    }
}

.bill-data {
    height: 164px;
    text-align: left;
    margin-bottom: 24px;

    @media (max-width: 1269px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 3px;
    } 

    @media only screen and (max-width: 639px) {
        margin-bottom: 0px;
    } 
}

.bill-data p {
    margin-bottom: 6px;
}

.bill-data p:last-child {
    margin-bottom: 0;
}


.finance-title {
    font-family: Gilroy;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-top: 43px;
    margin-bottom: 24px;

    @media (max-width: 1269px) {
        font-size: 24px;
        margin-top: 30px;
    } 

    @media only screen and (max-width: 639px) {
        font-size: 20px;
        line-height: 24px;
        margin-top: 36px;
        margin-bottom: 16px;
    } 
}

.finance__button  {
    @media only screen and (max-width: 639px) {
        margin-bottom: -7px;
    } 
}

.donat-info {
    height: 218px;
    max-width: 389px;

    @media (max-width: 1269px) {
       font-size: 14px;
       line-height: 20px;
       max-width: 274px;
    } 

    @media (max-width: 1269px) {
        max-width: 300px;
     } 
}

.donta-info__subtitle {
    margin-bottom: 6px;

    @media (max-width: 1269px) {
        margin-bottom: 0px;
    } 
}

.donat-info__list li {
    margin-bottom: 6px;

    @media (max-width: 1269px) {
       margin-bottom: 2px;
       padding: 0;
    } 

        
 
}

.donat-info__list li:last-child {
    margin-bottom: 25px;

    @media (max-width: 1269px) {
        margin-bottom: 0px;
    } 
}

/* HELPH */

.helph {
    margin-top: 49px;

    @media only screen and (max-width: 639px) {
        margin-top: 30px;
    } 
}
    
.helph__info-img {
    margin-bottom: 48px;

    @media (max-width: 1269px) {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    } 

    @media only screen and (max-width: 639px) {
        width: 50px;
        height: 50px;
    } 
}

.help-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

.helph-container-top {
    max-width: 660px;
    margin-bottom: 44px;

    @media (max-width: 1269px) {
        max-width: 481px;
        margin-top: 44px;
        margin-bottom: -4px;
    } 

    @media only screen and (max-width: 639px) {
        margin-top: 44px;
    } 

}

.helph__title {
    font-size: 28px;
    line-height: 86%;
    font-weight: 600;
    margin-bottom: 24px;

    @media (max-width: 1269px) {
        font-size: 24px;
        margin-bottom: 29px;
    } 

    @media only screen and (max-width: 639px) {
        font-size: 16px;
        line-height: 24px;
        margin-top: -27px;
        margin-bottom: 15px;
    } 
}

.helph__text {
    font-size: 16px;
    line-height: 22.4px;

    @media only screen and (max-width: 639px) {
        font-size: 14px;
        line-height: 20px;
    } 
}

.helph-list {
    margin-top: 7px;

    @media only screen and (max-width: 639px) {
        margin-top: 0px;
    } 
}

.helph-list li {
    margin-bottom: 6px;

    @media (max-width: 1269px) {
        margin-bottom: 5px;
    } 
}

.helph__text--color {
    margin-bottom: 5px;

    @media only screen and (max-width: 639px) {
       margin-bottom: 29px;
    } 
}

.helph-container-bot {
    max-width: 678px;
    margin-bottom: 16px;

    @media (max-width: 1269px) {
        max-width: 481px;
        margin-top: 51px;
    } 

    @media only screen and (max-width: 639px) {
        margin-top: 68px;
    } 
}

.helph__info-link {
    margin-bottom: 78px;
    // margin-right: auto;

    @media (max-width: 1269px) {
        margin-bottom: 60px;
    } 

    @media only screen and (max-width: 639px) {
        margin-bottom: 40px;
    } 
}

.helph__info-link a {
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    color: #AD7F00;

}

/* AUTO HELP */

.auto-help-container {
    display: grid;
    justify-content: center;
    margin-bottom: 82px;

    @media only screen and (max-width: 639px) {
       
        margin-bottom: 40px;
    } 
}

.auto-help__info-img {
    margin-bottom: 37px;

    @media (max-width: 1269px) {
        width: 80px;
        height: 80px;
        margin: 0 auto;
    } 

    @media only screen and (max-width: 639px) {
        width: 50px;
        height: 50px;
    } 
}

.auto-help__info {
    max-width: 680px;

    @media (max-width: 1269px) {
        max-width: 481px;
        margin-top: 29px;
    } 

    @media only screen and (max-width: 639px) {
        margin-top: 20px;
        max-width: 300px;
    } 
}

.auto__title {
    font-size: 28px;
    line-height: 86%;
    font-weight: 600;
    margin-bottom: 24px;

    @media (max-width: 1269px) {
        font-size: 24px;
        margin-bottom: 26px;
    } 

    @media only screen and (max-width: 639px) {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 18px;
    } 
}

.auto__text {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 24px;

    @media (max-width: 1269px) {
        margin-bottom: 39px;
    } 

    @media only screen and (max-width: 639px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 14px;
    } 
}


/* VOLUNTEERING */

.volunteering {
    position: relative;
    // min-height: 800px;
    margin-bottom: 162px;

    @media (max-width: 1269px) {
        margin-bottom: -55px;
    }
}

.volunteering__info-img {
    margin-bottom: 104px;

    @media (max-width: 1269px) {
        width: 55px;
        height: 100px;
        margin: 0 auto;
    }

    @media only screen and (max-width: 639px) {
        width: 30px;
        height: 50px;

    } 
}

.volunteering__pos {
    margin-bottom: 100px;    
}

.volun-inner {
    display: flex;
    justify-content: flex-start;
}

.volun-container {
    flex: 0 1 50%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: 639px) {
        flex: 0 1 100%;
    } 
}

.volun-image {
    position: relative;
    margin-right: auto;
    flex: 0 1 50%;
    // justify-self: start;

    @media only screen and (max-width: 639px) {
        flex: 0 1 0;
    } 
}

.volun-image::before {
    content: '';
    position: absolute;
    background: url(../img/volunt1.png) left center no-repeat;
    width: 620px;
    height: 541px;
    top: -124px;
    left: -110px;
    z-index: 2;

    @media (max-width: 1269px) {
        background: url(../img/volunt-1024.png) left center no-repeat;
        top: -50px;
        left: -103px;
    }

    @media (max-width: 639px) {
        background: url(../img/volunt-360.png) left center no-repeat;
        top: 16px;
        left: -31px;
        width: 250px;
        height: 212px;
    }

}

.volun__info {
    max-width: 466px;
    margin-bottom: 20px;

    @media (max-width: 1269px) {
        max-width: 323px;
        margin-top: 26px;
    }

    @media only screen and (max-width: 639px) {
        max-width: 300px;
        margin-top: 250px;
        margin-bottom: 17px;
        text-align: center;
    } 
}

.volun__title {
    font-size: $font-size--h3;
    font-weight: 600;
    margin-bottom: 25px;

    @media (max-width: 1269px) {
        font-size: 24px;
        line-height: 24px;
    }

    @media only screen and (max-width: 639px) {
       font-size: 16px;
       line-height: 24px;
       margin-bottom: 18px;
    } 
}

.volun__text {
    margin-bottom: 6px;

    @media only screen and (max-width: 639px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0px;
        text-align: left;
    } 
}

/* NEWS */

.news-info {
    // margin-bottom: 53px; 
    background-color: $white-bg;
}

.news-info__position {
    margin-bottom: 40px;

    @media (max-width: 1269px) {
        margin-bottom: 20px;
    }
}

.news__title {
    font-size: $font-size--h3;
    font-weight: 600;
    text-align: center;
    padding-top: 60px;

    @media (max-width: 1269px) {
        font-size: 24px;
        line-height: 24px;
        padding-top: 40px;
    }

    @media only screen and (max-width: 639px) {
        font-size: 16px;
        line-height: 24px;
        padding-top: 0px;
    } 
    
}

.news-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-content__text {
    max-width: 603px;   
    margin-left: 35px;

    @media (max-width: 1269px) {
        max-width: 433px;
    }

    @media only screen and (max-width: 639px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0px;
        max-width: 205px;
        margin-left: 16px;
    } 
}

.news-content:last-child {
    margin-top: 22px;
    padding-bottom: 47px;

    @media (max-width: 1269px) {
        padding-bottom: 37px;
    }

    @media only screen and (max-width: 639px) {
        padding-bottom: 10px;
    } 
}

.news-content__img {
    width: 79px;
    height: 79px;
}


/* ABOUT */

.about {
    padding-top: 56px;
    margin-bottom: 46px;

    @media (max-width: 1269px) {
        padding-top: 49px;
    }

    @media only screen and (max-width: 639px) {
        padding-top: 30px;
        margin-bottom: 2px;
    } 
}

.about-container {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    margin: 0 auto;

    @media (max-width: 1269px) {
        max-width: 481px;
    }

    @media only screen and (max-width: 639px) {
        max-width: 300px;
    } 
}

.about-us {
    margin-bottom: 24px;

}

.about-us__title {
    font-size: $font-size--h3;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;

    @media (max-width: 1269px) {
        font-size: 24px;
        line-height: 24px;
    }

    @media only screen and (max-width: 639px) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
    } 
}

.about-us__text {
    font-size: $font-size--large;
    line-height: 24px;
    font-weight: 500;

    @media (max-width: 1269px) {
        font-size: 16px;
    }

    @media only screen and (max-width: 639px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
    } 
}

.about-contacts {
    margin-bottom: 37px;

    @media (max-width: 1269px) {
        margin-bottom: 42px;
    }

    @media only screen and (max-width: 639px) {
        margin-bottom: 25px;

    } 
}

.about-contacts__title {
    font-size: $font-size--h4;
    line-height: 26px;
    font-weight: normal;
    margin-bottom: 25px;

    @media only screen and (max-width: 639px) {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 18px;
    } 
}

.about-contacts__subtitle {
    margin-bottom: 10px;

    @media (max-width: 1269px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;
    }

    @media only screen and (max-width: 639px) {
        margin-bottom: 0px;
    } 
}

.about-social {
    position: relative;
}

.about-social-menu {
    position: absolute;
    top: 6px;
    right: 0;
}

.about-social__title {
    margin-bottom: 16px;

    @media (max-width: 1269px) {
        margin-bottom: 20px;
    }

    @media only screen and (max-width: 639px) {
       max-width: 211px;
    } 
}

.about-contacts__menu {
    list-style-type: none;
}

.about-contacts__text {
    margin-bottom: 5px;

    @media (max-width: 1269px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;
    }

    @media only screen and (max-width: 639px) {
        margin-bottom: 0px;
    } 
}

/* THANKS FOR HELP */

.thanks {
    max-width: 100%;
    height: 741px;
    background-image: url(../img/footer_img.jpg);
    // background-size: cover;

    @media (max-width: 1269px) {
        height: 555px;
    }

    @media only screen and (max-width: 639px) {
        background-image: url(../img/footer_img-360.jpg);
        background-repeat: no-repeat;
        max-width: 360px;
        height: 267px;
    } 
}

/* FOOTER */

.footer-inner {
    display: grid;
    grid-template-columns: repeat( 12, 1fr);
    justify-items: center;
    margin-top: 24px;

    // @media only screen and (max-width: 1023px) {
    //     display: grid;
    //     grid-template-columns: 6fr 4fr 2fr;
    //     grid-template-rows: repeat(3, 50px);

    // }
}

.menu-footer {
    margin-bottom: 24px;
    grid-column: 1 / 11;

    @media (max-width: 1269px) {
        grid-column: 1 / 13;
    }

    // @media only screen and (max-width: 1023px) {

    //     grid-column: 1 / 8;
    // }
}

.menu-footer__link {
    margin-right: 40px;
    color: $color-secondary;
    font-size: $font-size--small;
    line-height: 17px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid $color-secondary;
    transition: all 1s linear;

    @media (max-width: 1269px) {
        margin-right: 21px;
    }

}

.footer__about-us {
    grid-column: 11 / 13;

    @media (max-width: 1269px) {
        grid-column: 1 / 7;
        justify-self: start;
    }
}

.menu-footer__link:hover {
    border-bottom: none;
    opacity: 0.7;
}

.menu-footer__link:last-child {
    margin-right: 0;
}

.menu-footer__link2 {
    font-size: $font-size--small;
    color: $color-main;
    font-weight: normal;
}

.menu-footer__link2:first-child {
    margin-right: 42px;
}

.copyright {
    font-size: 12px;
    color: #B3B3B3;
    text-align: center;
    margin-bottom: 16px;
    grid-column: 6 / 8;

    @media (max-width: 1269px) {
        grid-column: 8 / 13;
        justify-self: end;
    }
}