/* HEADER */

.menu {
    // display: grid;
    // grid-template-columns: repeat(10, 1fr);
    // grid-template-rows: 110px;
    // align-items: center;
    // margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    font-family: $font-family;
    font-weight: 600;
    margin-bottom: 67px;

    @media only screen and (max-width: 1269px) {
        display: flex;
        justify-content: space-between;
        padding-top: 37px;
        margin-bottom: 23px;
    }
 
    &__items:nth-child(1) {
        grid-column: 1 / span 3;
    }

    &__items:nth-child(2) {
        grid-column: 5 / span 3;
    }

    &__items:nth-child(3) {
        grid-column: 9 / span 2;
    }
  
    &__link {
        text-decoration: none;
        color: $color-main;
        margin-right: 28px;
        transition: border-bottom 1s 0.25s linear;
    }

    &__link:hover {
        border-bottom: 1px solid $color-main;
    }
}

/* SOCIAL BUTTONS */

.social-btns__item {
    text-decoration: none;
}

.menu__items a {
    margin-right: 28px;
}

.menu__items a:last-child {
    margin-right: 0;
}

.social-btns__item svg:hover {
    fill: #000;
}

.more-info__inner:last-child {
    margin-right: 0;
}

/* MAIN */

/* SAFE LIFE */

.save-life {
    width: 659px;

    @media only screen and (max-width: 1269px) {
        width: 461px;
    }

    &__title {
        font-weight: 700;
        font-size: $font-size--h1;
        line-height: 87px;
        color: #242424;

        @media only screen and (max-width: 1269px) {
            font-size: 64px;
        }
    }

    &__text--color {
        color: $gray;
        font-weight: 300;
        margin-bottom: 10px;
        line-height: 18.45px;

        @media only screen and (max-width: 1269px) {
            margin-bottom: 8px;
            font-size: $font-size--small;
        }
    }

    &__text--size {
        line-height: 140%;
        margin-bottom: 45px;
        font-weight: 600;

        @media only screen and (max-width: 1269px) {
            margin-bottom: 45px;
            font-size: $font-size--small;
        }
    }

    &__text--pos {
        width: 415px;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 29px;
        margin-bottom: 44px;
        color: $orange;

        @media only screen and (max-width: 1269px) {
            width: 300px;
            font-size: 2rem;
            line-height: 23.86px;
        }
    } 

    &__btn {
        padding: 5px 33px 5px 32px;
        text-decoration: none;
    }
}

.btn {
    @include btn-style;  
}

.button {
    padding-bottom: 272px;
    @media (max-width: 1269px) {
        padding: 56px;
    }
}

.hover__text {
    position: absolute;
    width: 599px;
    height: 192px;
    left: 268px;
    top: 475px;     
    opacity: 0.2;
    font-size: 12rem;
    color: #fff;
}

.hover__text--bottom {
    position: absolute;
    width: 599px;
    height: 192px;
    left: 268px;
    top: 610px;     
    opacity: 0.2;
    font-size: 9.2rem;
    color: #fff;
}

.hover__text--right {
    position: absolute;
    width: 599px;
    height: 192px;
    left: 545px;
    top: 695px;     
    opacity: 0.2;
    font-size: 9.2rem;
    color: #fff;
}

/*  Info about charity */

.info {
    // margin: 74px 0 74px 0;
    min-height: 650px;
    position: relative;
    background-color: $white-bg;
    

    @media only screen and (max-width: 1269px) {
        min-height: 568px;
    }

    &__row {
        display: flex;
        justify-content: flex-start;
        padding-top: 64px;

        @media (max-width: 1269px) {
            padding-top: 0;
        }
    }
    &__img {   
        flex: 0 1 50%;
        position: relative;

        @media only screen and (max-width: 1269px) {
            min-height: 568px;
            
        }
    }
    
    &__text-block {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
        max-width: 466px;
        padding: 0 0 0 12px;

        @media (max-width: 1269px) {
            max-width: 325px;
            align-items: start;
        }
    }
    &__title {
        margin-top: 62px;
        margin-bottom: 26px;
        text-align: center;
        color: $orange;
        font-weight: 600;

        @media only screen and (max-width: 1269px) {
            font-size: 2.4rem;
            margin-top: -43px;
            line-height: 29px;
            margin-top: 65px;
        }
    }    
    &__text {
        margin-bottom: 20px;
        @media (max-width: 1269px) {
            margin-bottom: 10px;
        }
    }
    
}

.info__img {
    position: relative;
}

.info__img::before {
    content: '';
    position: absolute;
    background: url(/img/dog&cat.png) top left no-repeat;
    width: 630px;
    height: 541px;
    top: -10px;
    right: 52px;
    z-index: 2;

    @media (max-width: 1269px) {
        background: url(/img/dog&cat-1024.png) top left no-repeat;
        top: 36px;
        right: -118px;
    }
}   

.info__img::after {
    content: '';
    position: absolute;
    background: url(/img/rect.png) left center no-repeat;
    width: 630px;
    height: 541px;
    top: -20px;
    left: -109px;
    z-index: 1;

    @media (max-width: 1269px) {
        background: none;
    }
}

/* HELP SECTION */

.help__title-main {
    text-align: center;
    margin-bottom: 45px;
    padding-top: 76px;
    font-weight: 300;
    @media (max-width: 1269px) {
        padding-top: 56px;
    }
}

// .icon {
//     display: inline-block;
//     width: inherit;
//     height: inherit;
//     // border-radius: 50%;
//     // border: 2px solid yellow;
//     // padding: 20px;
// }

// #btn_home {
//     width: 50;
//     height: 50;
//     border-radius: 50%;
//     border: 1px solid #000;
// }

.help__gallery {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.svg {
    width: 50px;
    height: 50px;
}

.item-help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item-help:last-child {
    margin: 0;
}

.img-circle {
    border: 1px solid #FFC41E;  
    // border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
    border-radius: 50%;
    width: 150px;
    padding: 31px 31px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    transition: background-color 0.75s linear;

    @media (max-width: 1269px) {
        width: 110px;
        height: 110px;
    }
}
.img-circle:hover {
    background-color: #fff;
}
.img-circle:active {
    background-color: #F8ECCB;
}

.item-help__text {
    margin-bottom: 71px;
    width: 166px;
    text-align: center;
}

.help__info-img {
    margin-bottom: 61px;
}

.help__home {
    display: flex;
    justify-content: center;
    margin-bottom: -6px;
}

.help__info {
    width: 389px;
    // margin-left: 86px;
    margin-right: 11px;
    margin-left: 86px;
}

.help__title {
    margin-bottom: 16px;
}

.help__text {
    margin-bottom: 72px;
}

/* ANIMAL */

.animals__info {
    text-align: center;
    margin-bottom: 18px;
}

.animals__info a:hover {
    text-decoration: none;
}


.animals__images {
    list-style-type: none;
}

.animal-gallery {
    display: flex;
    // justify-content: space-between;
}

.animal-gallery__item,
.swiper-slide {
    padding: 16px 16px 8px 17px;
    // margin-right: 10px;
    // width: 33.3%;
}

.swiper-slide {
    transition: 0.5s;
    opacity: 0.5;
}

.swiper-slide-active {
    // transform: scale(1.2);
    transition: 0.5s;
    opacity: 1;
}

.card {
    width: 368px !important;
    background-color: $white-bg;
    // background-color: $main-bg;
    box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
    border-radius: 5px;
    // margin-right: 21px;
}

.card__title {
    text-align: center;
    font-size: $font-size--h4;
    line-height: 20px;
    font-weight: 500;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
}

.card__subtitle {
    font-size: $font-size--small;
    line-height: 20px;
    color: $gray;
    font-weight: 500;
    padding: 8px 0 6px 0;
}

.card__text {
    font-size: $font-size--small;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 2px;
    min-height: 64px;
}

// .card__link {
    
//     // border-bottom: 1px solid #000;
// }

.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}

.swiper-button-prev {
    background-image: url(/img/bi_arrow-left-circle.svg);
    margin-right: auto;
    margin-top: 5px;
}

.swiper-button-next {
    background-image: url(/img/bi_arrow-right-circle.svg);
    margin-left: auto;
    margin-top: 5px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 18px auto;
}

.animal-btns {
    text-align: center;
}

.animal-btn-home {
    margin-bottom: 20px;
}

.animals__gallery {
    display: flex;  
    flex-flow: row wrap;
}

.animals__img-wrapper {
    margin-right: 20px;
}

.animals__img-wrapper:nth-child(3n) {
    margin-right: 0;
}

.animals__item {
    min-height: 695px;
    width: 368px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    border: 1px solid #D6D6D6;
    background-color: $white-bg;
    margin-bottom: 44px;
}

.animals__inner {
    padding: 16px 16px 25px 17px;
    display: flex;
    flex-direction: column;
}

.animals__btns {    
    text-align: center;
    margin-top: auto;
}

.animals__title {
    text-align: center;
    margin-bottom: 21px;
}



.animals__btns:nth-child(2) {
    // margin-bottom: 40px;
}

.animals__item:hover {
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
}


.animal__img-name {
    font-family: 'Gilroy';
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-top: 8px;
    // border-bottom: 1px solid #D6D6D6;
}

.animal__img-name::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #d6d6d6;
    width: 100%;
    margin-top: 10px; 
}

.animal__img-disc {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $gray;
    text-align: left;
    margin: 8px 0 6px;
}

.animal__img-text {
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;   
}

.animal-img {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
}

.animal-img img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
}

.animal-img img:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

.animals__btns--indent {
    margin-bottom: 18px;
}

.btn--style {
    background: $main-bg;
    border: 2px solid #FBC832;
}


.animlas__more-info {
    display: flex;  
    justify-content: center;
    margin: 54px 0 65px -4px;
}

.more-info__text {
    width: 583px;
    font-size: 18px;
    line-height: 24px;
}

.more-info__social {
    display: flex;
    margin-left: 38px;
    // margin-bottom: 78px;
}


.more-info__inner {
    display: block;
    width: 49px;
    height: 49px;
    border: 2px solid #FFC41E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
}

.more-info__inner:last-child {
    margin-right: 0;
}


/* BUTTUNS */

.btn:hover {
    background: $color-main;
    color: #FBC832;
}

.btn--style:hover {
    background: $main-bg;
    color: #fbc832;
    border: 2px solid $color-main;
}

/* CONTENT NAV_IMG  */

.img-nav {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.home__container,
.financial-help__container,
.helph__container,
.auto-help__container,
.volunteering__container {
    position: relative;
}

.home__container::before,
.home__container::after,
.financial-help__container::before,
.financial-help__container::after,
.helph__container::before,
.helph__container::after,
.auto-help__container::before,
.auto-help__container::after,
.volunteering__container::before,
.volunteering__container::after {
    content: '';
    height: 1px;
    display: block;
    background-color: #EEBF3A;
    width: 50%;
    position: absolute;
}

.home__container::before {
    top: 69px;
    left: -110px;
}

.home__container::after {
    top: 69px;
    right: -110px;
}

.financial-help__container::before {
    top: 48px;
    left: -105px;
}

.financial-help__container::after {
    top: 48px;
    right: -105px;
}

.helph__container::before {
    top: 47px;
    left: -110px;
}
    
.helph__container::after {
    top: 47px;
    right: -110px;
}

.auto-help__container::before,
.volunteering__container::before {
    top: 55px;
    left: -110px;
}

.auto-help__container::after,
.volunteering__container::after {
    top: 55px;
    right: -110px;
}

/* FINANCIAL HELP */

.financial-help {
    padding-top: 44px;
    min-height: 715px;
    background-color: $white-bg;
}

.finance__info-img {
    margin-bottom: 50px;
}

.financial-help__outer {
    max-width: 758px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.financial-help__title {
 margin-bottom: 27px;
}

.financial-help__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $gray;
}

.financial-donate {
    display: flex;
    justify-content: center;    
}

.financial-donate__bill {
    width: 389px;
    margin-right: 97px;
}

.financial-donate__donation {
    width: 389px;
}

.bill-data {
    height: 164px;
    text-align: left;
    margin-bottom: 24px;
}

.bill-data p {
    margin-bottom: 6px;
}

.bill-data p:last-child {
    margin-bottom: 0;
}


.finance-title {
    font-family: Gilroy;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-top: 43px;
    margin-bottom: 24px;
}

.donat-info {
    height: 218px;
    width: 389px;
}

.donta-info__subtitle {
    margin-bottom: 6px;
}

.donat-info__list li {
    margin-bottom: 6px;
}

.donat-info__list li:last-child {
    margin-bottom: 25px;
}

/* HELPH */

.helph {
    margin-top: 49px;
}

.helph__info-img {
    margin-bottom: 48px;
}

.help-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0 auto;
}

.helph-container-top {
    width: 660px;
    margin-bottom: 44px;
}

.helph__title {
    font-size: 28px;
    line-height: 86%;
    font-weight: 600;
    margin-bottom: 24px;
}

.helph__text {
    font-size: 16px;
    line-height: 22.4px;
}

.helph-list {
    margin-top: 7px;
}

.helph-list li {
    margin-bottom: 6px;
}

.helph__text--color {
    margin-bottom: 5px;
}

.helph-container-bot {
    width: 678px;
    margin-bottom: 16px;
}

.helph__info-link {
    margin-bottom: 78px;
    // margin-right: auto;
}

.helph__info-link a {
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    color: #AD7F00;

}

/* AUTO HELP */

.auto-help-container {
    display: grid;
    justify-content: center;
    margin-bottom: 82px;
}

.auto-help__info-img {
    margin-bottom: 37px;
}

.auto-help__info {
    width: 680px;
}

.auto__title {
    font-size: 28px;
    line-height: 86%;
    font-weight: 600;
    margin-bottom: 24px;
}

.auto__text {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 24px;
}


/* VOLUNTEERING */

.volunteering {
    position: relative;
    // min-height: 800px;
    margin-bottom: 162px;
}

.volunteering__info-img {
    margin-bottom: 104px;
}

.volunteering__pos {
    margin-bottom: 100px;    
}

.volun-inner {
    display: flex;
    justify-content: flex-start;
}

.volun-container {
    flex: 0 1 50%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.volun-image {
    position: relative;
    margin-right: auto;
    flex: 0 1 50%;
    // justify-self: start;
}

.volun-image::before {
    content: '';
    position: absolute;
    background: url(/img/volunt1.png) left center no-repeat;
    width: 620px;
    height: 541px;
    top: -124px;
    left: -110px;
    z-index: 2;
}

.volun__info {
    width: 466px;
    margin-bottom: 20px;
}

.volun__title {
    font-size: $font-size--h3;
    font-weight: 600;
    margin-bottom: 25px;
}

.volun__text {
    margin-bottom: 6px;
}

/* NEWS */

.news-info {
    // margin-bottom: 53px; 
    background-color: $white-bg;
}

.news-info__position {
    margin-bottom: 40px;
}

.news__title {
    font-size: $font-size--h3;
    font-weight: 600;
    text-align: center;
    padding-top: 60px;
}

.news-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-content__text {
    width: 603px;
    margin-left: 35px;
}

.news-content:last-child {
    margin-top: 22px;
    padding-bottom: 47px;
}


/* ABOUT */

.about {
    padding-top: 56px;
    margin-bottom: 46px;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 680px;
    margin: 0 auto;
}

.about-us {
    margin-bottom: 24px;
}

.about-us__title {
    font-size: $font-size--h3;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
}

.about-us__text {
    font-size: $font-size--large;
    line-height: 24px;
    font-weight: 500;
}

.about-contacts {
    margin-bottom: 37px;
}

.about-contacts__title {
    font-size: $font-size--h4;
    line-height: 26px;
    font-weight: normal;
    margin-bottom: 25px;
}

.about-contacts__subtitle {
    margin-bottom: 10px;
}

.about-social__title {
    margin-bottom: 16px;
}

.about-contacts__menu {
    list-style-type: none;
}

.about-contacts__text {
    margin-bottom: 5px;
}

/* THANKS FOR HELP */

.thanks {
    max-width: 100%;
    min-height: 741px;
    background-image: url(/img/footer_img.jpg);
    background-size: cover;
}

/* FOOTER */

.menu-footer {
    display: flex;
    margin: 37px 0px 24px;
}

.menu-footer__link {
    margin-right: 40px;
    color: $color-secondary;
    font-size: $font-size--small;
    line-height: 17px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid $color-secondary;
    transition: all 1s linear;
}

.menu-footer__link:hover {
    border-bottom: none;
    opacity: 0.7;
}

.menu-footer__link:last-child {
    margin-right: 0;
}

.menu-footer__left {
    margin-right: auto;
}

.menu-footer__link2 {
    font-size: $font-size--small;
    color: $color-main;
    font-weight: normal;
}

.menu-footer__link2:first-child {
    margin-right: 42px;
}

.copyright {
    font-size: 12px;
    color: #B3B3B3;
    text-align: center;
    margin-bottom: 16px;
}