/* HEADER */

// .header__burger {
//     display: none;
// }

// @media only screen and (max-width: 768px) {
//     .header__burger {
// 		display: block;
// 		position: relative;
// 		width: 30px;
// 		height: 20px;
// 		position: relative;
// 		z-index: 3;
// 	}
// 	.header__burger span{
// 		position: absolute;
// 		background-color: #000;
// 		position: absolute;
// 		left: 0;
// 		width: 100%;
// 		height: 2px;
// 		top: 9px;
// 		transition: all 0.3s ease 0s;
// 	}
// 	.header__burger:before,
// 	.header__burger:after{
// 		content: '';
// 		background-color: #000;
// 		position: absolute;
// 		width: 100%;
// 		height: 2px;
// 		left: 0;
// 		transition: all 0.3s ease 0s;
// 	}
// 	.header__burger:before{
// 		top: 0;
// 	}
// 	.header__burger:after{
// 		bottom: 0;
//     }


// }


.menu {
    // display: grid;
    // grid-template-columns: repeat(10, 1fr);
    // grid-template-rows: 110px;
    // align-items: center;
    // margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    font-family: $font-family;
    font-weight: 600;
    margin-bottom: 67px;

    @media only screen and (max-width: 1269px) {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        margin-bottom: 27px;
    }
 
    &__items:nth-child(1) {
        grid-column: 1 / span 3;
    }

    &__items:nth-child(2) {
        grid-column: 5 / span 3;
    }

    &__items:nth-child(3) {
        grid-column: 9 / span 2;
    }
  
    &__link {
        text-decoration: none;
        color: $color-main;
        margin-right: 28px;
        transition: border-bottom 1s 0.25s linear;
    }

    &__link:hover {
        border-bottom: 1px solid $color-main;
    }
}

/* SOCIAL BUTTONS */

.social-btns__item {
    text-decoration: none;
}

.menu__items a {
    margin-right: 28px;
}

.menu__items a:last-child {
    margin-right: 0;
}

.social-btns__item svg:hover {
    fill: #000;
}

// .social-btns {
//     display: flex;

//     &__item {
//         display: block;
//         width: 49px;
//         height: 49px;

//         border: 2px solid #fff;

//         border-radius: 50%;
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         margin-right: 28px;

//         text-decoration: none;
//     }
// }
.more-info__inner:last-child {
    margin-right: 0;
}

/* MAIN */

/* SAFE LIFE */

.save-life {
    width: 659px;

    @media only screen and (max-width: 1269px) {
        width: 461px;
    }

    &__title {
        font-weight: 700;
        font-size: $font-size--h1;
        line-height: 87px;
        color: #242424;

        @media only screen and (max-width: 1269px) {
            font-size: 64px;
        }
    }

    &__text--color {
        color: $gray;
        font-weight: 300;
        margin-bottom: 10px;
        line-height: 18.45px;

        @media only screen and (max-width: 1269px) {
            margin-bottom: 8px;
            font-size: $font-size--small;
        }
    }

    &__text--size {
        line-height: 140%;
        margin-bottom: 45px;
        font-weight: 600;

        @media only screen and (max-width: 1269px) {
            margin-bottom: 45px;
            font-size: $font-size--small;
        }
    }

    &__text--pos {
        width: 415px;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 29px;
        margin-bottom: 44px;
        color: $orange;

        @media only screen and (max-width: 1269px) {
            width: 300px;
            font-size: 2rem;
            line-height: 23.86px;
        }
    } 

    &__btn {
        padding: 5px 33px 5px 32px;
        text-decoration: none;
    }
}

.btn {
    @include btn-style;  
}

.button {
    padding-bottom: 272px;
}

.hover__text {
    position: absolute;
    width: 599px;
    height: 192px;
    left: 268px;
    top: 475px;     
    opacity: 0.2;
    font-size: 12rem;
    color: #fff;
}

.hover__text--bottom {
    position: absolute;
    width: 599px;
    height: 192px;
    left: 268px;
    top: 610px;     
    opacity: 0.2;
    font-size: 9.2rem;
    color: #fff;
}

.hover__text--right {
    position: absolute;
    width: 599px;
    height: 192px;
    left: 545px;
    top: 695px;     
    opacity: 0.2;
    font-size: 9.2rem;
    color: #fff;
}

//  Info about charity 

.info {
    // margin: 74px 0 74px 0;
    min-height: 650px;
    position: relative;
    background-color: $white-bg;
    z-index: 1;

    @media only screen and (max-width: 1269px) {
        min-height: 568px;
    }

    &__row {
        display: flex;
        justify-content: flex-start;
        padding-top: 64px;
    }
    &__img {   
        flex: 0 1 51%;
        justify-self: start;
        position: relative;
        left: 3px;
        top: 22px;

        @media only screen and (max-width: 1269px) {
            min-height: 568px;
        }
    }
    
    &__text-block {
        flex: 0 1 49%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
        max-width: 466px;
    }
    &__title {
        margin-top: 62px;
        margin-bottom: 26px;
        text-align: center;
        color: $orange;
        font-weight: 600;

        @media only screen and (max-width: 1269px) {
            font-size: 2.4rem;

        }
    }    
    &__text {
        margin-bottom: 20px;
    }
    
}

.info__img {
    position: relative;
}

.info__img::before {
    content: '';
    position: absolute;
    background: url(/img/dog&cat.png) left center no-repeat;
    width: 630px;
    height: 541px;
    top: -32px;
    right: 66px;
    z-index: 2;
}

.info__img::after {
    content: '';
    position: absolute;
    background: url(/img/rect.png) left center no-repeat;
    width: 630px;
    height: 541px;
    top: -42px;
    right: 66px;
}

/* HELP SECTION */

.help__title-main {
    text-align: center;
    margin-bottom: 45px;
    padding-top: 76px;
    font-weight: 300;
}

// .icon {
//     display: inline-block;
//     width: inherit;
//     height: inherit;
//     // border-radius: 50%;
//     // border: 2px solid yellow;
//     // padding: 20px;
// }

// #btn_home {
//     width: 50;
//     height: 50;
//     border-radius: 50%;
//     border: 1px solid #000;
// }

.help__gallery {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.item-help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item-help:last-child {
    margin: 0;
}

.img-circle {
    // border: 2px solid #FFC41E;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
    border-radius: 50%;
    width: 150px;
    padding: 31px 31px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    transition: background-color 0.75s linear;
}
.img-circle:hover {
    background-color: #fff;
}
.img-circle:active {
    background-color: #F8ECCB;
}

.item-help__text {
    margin-bottom: 71px;
    width: 166px;
    text-align: center;
}

.help__info-img {
    margin-bottom: 61px;
}

.help__home {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.help__info {
    width: 389px;
    // margin-left: 86px;
    margin-right: 11px;
    margin-left: 86px;
}

.help__title {
    margin-bottom: 20px;
}

.help__text {
    margin-bottom: 72px;
}

/* ANIMAL */








.animals__gallery {
    display: flex;  
    flex-flow: row wrap;
}

.animals__img-wrapper {
    margin-right: 20px;
}

.animals__img-wrapper:nth-child(3n) {
    margin-right: 0;
}

.animals__item {
    min-height: 695px;
    width: 368px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    border: 1px solid #D6D6D6;
    background-color: $white-bg;
    margin-bottom: 44px;
}

.animals__inner {
    padding: 16px 16px 25px 17px;
    display: flex;
    flex-direction: column;
}

.animals__btns {    
    text-align: center;
    margin-top: auto;
}

.animals__title {
    text-align: center;
    margin-bottom: 28px;
}



.animals__btns:nth-child(2) {
    // margin-bottom: 40px;
}

.animals__item:hover {
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
}


.animal__img-name {
    font-family: 'Gilroy';
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-top: 8px;
    // border-bottom: 1px solid #D6D6D6;
}

.animal__img-name::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #d6d6d6;
    width: 100%;
    margin-top: 10px; 
}

.animal__img-disc {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $gray;
    text-align: left;
    margin: 8px 0 6px;
}

.animal__img-text {
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;   
}

.animal-img {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
}

.animal-img img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
}

.animal-img img:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

.animals__btns--indent {
    margin-bottom: 18px;
}

.btn--style {
    background: $main-bg;
    border: 2px solid #FBC832;
}

.animals__info a {
    display: block;
    height: 40px;
    width: 204px;
    margin: 0 auto;
    color: #AD7F00;
    font-size: 2rem;
    line-height: 40px;
    font-weight: 500;
    position: relative;
    top: -23px;
    left: -21px;
}

.animals__info a:hover {
    text-decoration: none;
}

.animlas__more-info {
    display: flex;  
    justify-content: center;
    margin: 42px 0 -4px;
}

.more-info__text {
    width: 583px;
    font-size: 18px;
    line-height: 24px;
}

.more-info__social {
    display: flex;
    margin-left: 38px;
    margin-bottom: 78px;
}

.more-info__inner {
    display: block;
    width: 49px;
    height: 49px;
    border: 2px solid #FFC41E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
}

.more-info__inner:last-child {
    margin-right: 0;
}


/* BUTTUNS */

.btn:hover {
    background: $color-main;
    color: #FBC832;
}

.btn--style:hover {
    background: $main-bg;
    color: #fbc832;
    border: 2px solid $color-main;
}

/* CONTENT NAV_IMG  */

.img-nav {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.home__container {
    position: relative;
}

.home__container::before,
.home__container::after {
    content: '';
    height: 1px;
    display: block;
    background-color: #EEBF3A;
    width: 100%;
    position: absolute;
}

.home__container::before {
    top: 70px;
    left: -670px;
}

.home__container::after {
    top: 70px;
    right: -670px;
}
// .img-nav::after, 
// .img-nav::before {
//     content: ''; 
//     position: absolute;
//     height: 1px;
//     vertical-align: middle;
//     width: 50%;
//     display: inline-block;
//     background-color: #EEBF3A;
    
// }

// .img-nav::before {
//     top: -70px;
//     margin-left: -50%;
// }

// .img-nav::after {
//     top: -70px;
//     margin-right: -50%;
// }

/* FINANCIAL HELP */

.helph__pos {
    padding-top: 49px;
}

.financial-help {
    padding-top: 46px;
    height: 681px;
    background-color: $white-bg;
}

.finance__info-img {
    margin-bottom: 50px;
}

.financial-help__outer {
    max-width: 758px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.financial-help__title {
 margin-bottom: 25px;
}

.financial-help__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $color-secondary;
}

.financial-donate {
    display: flex;
    justify-content: center;    
}

.financial-donate__bill {
    width: 389px;
    margin-right: 97px;
}

.financial-donate__donation {
    width: 389px;
}

.bill-data {
    height: 164px;
    text-align: left;
    margin-bottom: 24px;
}

.bill-data p {
    margin-bottom: 6px;
}

.bill-data p:last-child {
    margin-bottom: 0;
}


.finance-title {
    font-family: Gilroy;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-top: 43px;
    margin-bottom: 24px;
}

.donat-info {
    height: 218px;
    width: 389px;
}

.donat-info__list li {
    margin-bottom: 6px;
}

.donat-info__list li:last-child {
    margin-bottom: 0;
}

/* HELPH */

.helph {
    margin-top: 49px;
}

.helph__info-img {
    margin-bottom: 53px;
}

.help-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0 auto;
}

.helph-container-top {
    width: 660px;
    margin-bottom: 40px;
}

.helph__title {
    font-size: 28px;
    line-height: 86%;
    font-weight: 600;
    margin-bottom: 24px;
}

.helph__text {
    font-size: 16px;
    line-height: 22.4px;
}

.helph-list {
    margin-top: 7px;
}

.helph-list li {
    margin-bottom: 6px;
}

.helph__text--color {
    margin-bottom: 5px;
}

.helph-container-bot {
    width: 678px;
    margin-bottom: 16px;
}

.helph__info-link {
    margin-bottom: 78px;
    // margin-right: auto;
}

.helph__info-link a {
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    color: #AD7F00;

}

/* AUTO HELP */

.auto-help-container {
    display: grid;
    justify-content: center;
    margin-bottom: 82px;
}

.auto-help__info-img {
    margin-bottom: 45px;
}

.auto-help__info {
    width: 680px;
}

.auto__title {
    font-size: 28px;
    line-height: 86%;
    font-weight: 600;
    margin-bottom: 24px;
}

.auto__text {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 24px;
}


/* VOLUNTEERING */

.valunteering__info-img {
    margin-bottom: -14px;
}

.volunteering__pos {
    margin-bottom: 100px;    
}

.volun-inner {
    display: flex;
    justify-content: center;
}

.volun-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.volun-image {
    position: relative;
    top: 30px;
    left: -82px;
    height: auto;
    margin-right: 18px;
}

.volun__info {
    width: 466px;
}

.volun__title {
    font-size: $font-size--h3;
    font-weight: 600;
}

// .volun__text {
//     margin-top: 48px;
// }

/* NEWS */

.news-header {
    // margin-bottom: 53px; 
    background-color: $white-bg;
}

.news-header__position {
    margin-bottom: 40px;
}

.news__title {
    font-size: $font-size--h3;
    font-weight: 600;
    text-align: center;
    padding-top: 60px;
}

.news-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-content__text {
    width: 603px;
    margin-left: 35px;
}

.news-content:last-child {
    margin-top: 24px;
    padding-bottom: 53px;
}


/* ABOUT */

.about {
    padding-top: 56px;
    margin-bottom: 54px;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 680px;
    margin: 0 auto;
}

.about-us {
    margin-bottom: 24px;
}

.about-us__title {
    text-align: center;
    margin-bottom: 24px;
}

.about-contacts,
.about-contacts__title,
.about-us {
    margin-bottom: 40px;
}

.about-contacts__title {
    margin-bottom: 24px;
}

.about-social__title {
    margin-bottom: 16px;
}

/* THANKS FOR HELP */

.thanks {
    max-width: 100%;
    min-height: 741px;
    background-image: url(/img/footer_img.jpg);
    background-size: cover;
}

/* FOOTER */

.menu-footer {
    display: flex;
    margin: 40px 0px 24px;
}

.menu-footer__link {
    margin-right: 40px;
    color: $color-secondary;
    font-size: $font-size--small;
    line-height: 17px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid $color-secondary;
    transition: all 1s linear;
}

.menu-footer__link:hover {
    border-bottom: none;
    opacity: 0.7;
}

.menu-footer__link:last-child {
    margin-right: 0;
}

.menu-footer__left {
    margin-right: auto;
}

.menu-footer__link2 {
    font-size: $font-size--small;
    color: $color-main;
    font-weight: normal;
}

.menu-footer__link2:first-child {
    margin-right: 42px;
}

.copyright {
    font-size: 12px;
    color: #B3B3B3;
    text-align: center;
    margin-bottom: 16px;
}