@import './_base';
@import './_layout';
@import './_components';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy';
    font-size: 16px;
    color: $primary-dark;
    font-weight: 600;
    line-height: 19px;  
    background-color: $gray-bg;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.title {
    font-size: 28px;
    line-height: 120%;
}

.title-light {
    font-weight: normal;
}

img {
    display: inline-block;
    max-width: 100%;
}

.text {
    line-height: 140%;
    font-weight: normal;
}

.wrapper {
    width: 100%;
    background-image: url(/img/cat-1.png), url(/img/dog-1.png);
    background-position: top 470px right 355px, top 0 right 190px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 100;
}
