@import './_base';
@import './_layout';
@import './_components';

// * {
//     box-sizing: border-box;
    
// }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    color: $color-main;
    font-weight: 400;
    line-height: 22.4px;  
    background-color: $main-bg;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1144px;
    margin: 0 auto;
    // position: relative;

    @media only screen and (max-width: 1269px) {
        max-width: 804px;
    }

    @media only screen and (max-width: 1023px) {
        max-width: 548px;
    }

    @media only screen and (max-width: 767px) {
        max-width: 580px;
    }

    @media only screen and (max-width: 639px) {
        max-width: 300px;
    }
}

.title {
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;

    @media only screen and (max-width: 1269px) {
        font-size: 24px;
        line-height: 28.8px;
    }

}

.title-light {
    font-weight: 300;
}

img {
    display: inline-block;
    max-width: 100%;
    // height: auto;
}

.header {
    width: 100%;
    // min-height: 825px;   
    position: relative;

    @media only screen and (max-width: 1269px) {
        min-height: 642px;
    }
}

.header__container {
    position: relative;
}

.header__container::after {
    content: '';
    // max-width: 1150px;
    // min-height: 713px;
    // background: url(/img/dog-1.jpg);
    background: url(/img/dog-1.jpg) right top no-repeat;
    position: absolute;
    width: 718px;
    height: 713px;
    top: 0;
    right: 0;
    z-index: -1;
    // background-repeat: no-repeat;
    // background-position: top -10px right 2px;
    // position: absolute;
    // z-index: 10;

    @media only screen and (max-width: 1269px) {
        max-width: 804px;
        background-image: url(/img/dog-1024.jpg);
        min-height: 564px;
    }
}

.header__container::before {
    content: '';
    background-image: url(/img/cat-1.png);
    min-width: 483px;
    min-height: 469px;
    display: block;
    position: absolute;
    top: 518%;
    right: 14.5%; 
    z-index: 100;

    @media only screen and (max-width: 1269px) {
        background-image: url(/img/cat-1024.png);
        background-repeat: no-repeat;
        top: 66.5%;
        right: -4%;
    }
}

// .header__container::after {
//     content: '';
//     background-image: url(/img/illbebest.png);
//     background-repeat: no-repeat;
//     left: -110px;
//     top: 366px;
//     position: absolute;
//     min-width: 772px;
//     min-height: 404px;  
//     z-index: -1;
// }
