@import './_base';
@import './_layout';
@import './_components';

// * {
//     box-sizing: border-box;
    
// }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    color: $color-main;
    font-weight: 400;
    line-height: 22.4px;  
    background-color: $main-bg;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.title {
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
}

.title-light {
    font-weight: 300;
}

img {
    display: inline-block;
    max-width: 100%;
}

.header {
    width: 100%;
    min-height: 825px;
    position: relative;
}

.header__container {
    max-width: 1150px;
    min-height: 713px;
    background-image: url(/img/dog-1.jpg);
    background-repeat: no-repeat;
    background-position: top -10px right 2px;
    position: relative;
    // // z-index: -2;
    z-index: 10;
}

.header__container::before {
    content: '';
    background-image: url(/img/cat-1.png);
    min-width: 483px;
    min-height: 469px;
    display: block;
    position: absolute;
    top: 64.5%;
    right: 14.5%; 
    z-index: 100;
}

.header__container::after {
    content: '';
    background-image: url(/img/illbebest.png);
    background-repeat: no-repeat;
    left: -110px;
    top: 366px;
    position: absolute;
    min-width: 772px;
    min-height: 404px;  
    z-index: -1;
}